#-------------------------------------------------------------------------------
# ml605_fmc104.ucf
#-------------------------------------------------------------------------------
#
# This is .ucf file is for the FPGA on ML605 board carrying a FMC104 card
# on the LPC site (J63)
#
#-------------------------------------------------------------------------------
#-------------------------------------------------------------------------------
## Pin Constraints
#-------------------------------------------------------------------------------
## Clock inputs
NET "SYSCLK_N"        LOC = "H9" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "SYSCLK_P"        LOC = "J9" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;

NET "SMACLK_P"        LOC = "L23";
NET "SMACLK_N"        LOC = "M22";

## I2C Bus
NET "I2C_SCL"         LOC = "AF13" |SLEW=SLOW;
NET "I2C_SDA"         LOC = "AG13" |SLEW=SLOW;

## User I/O
NET "GPIO_LED<0>"      LOC = "AC22" |SLEW=SLOW;
NET "GPIO_LED<1>"      LOC = "AC24" |SLEW=SLOW;
NET "GPIO_LED<2>"      LOC = "AE22" |SLEW=SLOW;
NET "GPIO_LED<3>"      LOC = "AE23" |SLEW=SLOW;
NET "GPIO_LED<4>"      LOC = "AB23" |SLEW=SLOW;
NET "GPIO_LED<5>"      LOC = "AG23" |SLEW=SLOW;
NET "GPIO_LED<6>"      LOC = "AE24" |SLEW=SLOW;
NET "GPIO_LED<7>"      LOC = "AD24" |SLEW=SLOW;

NET "GPIO_SWITCH<0>"  LOC = "D22"  |SLEW=SLOW;
NET "GPIO_SWITCH<1>"  LOC = "C22"  |SLEW=SLOW;
NET "GPIO_SWITCH<2>"  LOC = "L21"  |SLEW=SLOW;
NET "GPIO_SWITCH<3>"  LOC = "L20"  |SLEW=SLOW;
NET "GPIO_SWITCH<4>"  LOC = "C18"  |SLEW=SLOW;
NET "GPIO_SWITCH<5>"  LOC = "B18"  |SLEW=SLOW;
NET "GPIO_SWITCH<6>"  LOC = "K22"  |SLEW=SLOW;
NET "GPIO_SWITCH<7>"  LOC = "K21"  |SLEW=SLOW;

NET "GPIO_BUTTON<0>"  LOC = "G26" |SLEW=SLOW;
NET "GPIO_BUTTON<1>"  LOC = "G17" |SLEW=SLOW;
NET "GPIO_BUTTON<2>"  LOC = "A19" |SLEW=SLOW;
NET "GPIO_BUTTON<3>"  LOC = "A18" |SLEW=SLOW;
NET "GPIO_BUTTON<4>"  LOC = "H17" |SLEW=SLOW;

NET "CPU_RESET"       LOC = "H10"  |SLEW=SLOW;

## Phy interface
NET "PHY_COL"         LOC = "AK13" |IOSTANDARD=LVCMOS25;
NET "PHY_CRS"         LOC = "AL13" |IOSTANDARD=LVCMOS25;
#NET "PHY_INT"         LOC = "AH14" |IOSTANDARD=LVCMOS25;
NET "PHY_MDC"         LOC = "AP14" |SLEW=SLOW |IOSTANDARD=LVCMOS25;
NET "PHY_MDIO"        LOC = "AN14" |SLEW=SLOW |IOSTANDARD=LVCMOS25;
NET "PHY_RESET_L"     LOC = "AH13" |SLEW=SLOW |IOSTANDARD=LVCMOS25;
NET "PHY_RXCLK"       LOC = "AP11" |IOSTANDARD=LVCMOS25;
NET "PHY_RXCTRL_RXDV" LOC = "AM13" |IOSTANDARD=LVCMOS25;
NET "PHY_RXD<0>"      LOC = "AN13" |IOSTANDARD=LVCMOS25;
NET "PHY_RXD<1>"      LOC = "AF14" |IOSTANDARD=LVCMOS25;
NET "PHY_RXD<2>"      LOC = "AE14" |IOSTANDARD=LVCMOS25;
NET "PHY_RXD<3>"      LOC = "AN12" |IOSTANDARD=LVCMOS25;
NET "PHY_RXD<4>"      LOC = "AM12" |IOSTANDARD=LVCMOS25;
NET "PHY_RXD<5>"      LOC = "AD11" |IOSTANDARD=LVCMOS25;
NET "PHY_RXD<6>"      LOC = "AC12" |IOSTANDARD=LVCMOS25;
NET "PHY_RXD<7>"      LOC = "AC13" |IOSTANDARD=LVCMOS25;
NET "PHY_RXER"        LOC = "AG12" |IOSTANDARD=LVCMOS25;
NET "PHY_TXCLK"       LOC = "AD12" |IOSTANDARD=LVCMOS25;
NET "PHY_TXCTL_TXEN"  LOC = "AJ10" |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25;
NET "PHY_TXC_GTXCLK"  LOC = "AH12" |SLEW=FAST |DRIVE=8 |IOSTANDARD=LVCMOS25;
NET "PHY_TXD<0>"      LOC = "AM11" |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25;
NET "PHY_TXD<1>"      LOC = "AL11" |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25;
NET "PHY_TXD<2>"      LOC = "AG10" |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25;
NET "PHY_TXD<3>"      LOC = "AG11" |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25;
NET "PHY_TXD<4>"      LOC = "AL10" |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25;
NET "PHY_TXD<5>"      LOC = "AM10" |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25;
NET "PHY_TXD<6>"      LOC = "AE11" |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25;
NET "PHY_TXD<7>"      LOC = "AF11" |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25;
NET "PHY_TXER"        LOC = "AH10" |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25;

## FMC Connection
NET "EXT_CLK_TO_FPGA_N" LOC = "B10" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "EXT_CLK_TO_FPGA_P" LOC = "A10" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "MUX_n_STANDBY" LOC = "G33" ;
NET "CMOS_n_LVDS" LOC = "F33" ;
NET "CLK_AB_N" LOC = "K27" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CLK_AB_P" LOC = "K26" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CLK_CD_N" LOC = "E31" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CLK_CD_P" LOC = "F31" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHA_N<2>" LOC = "H30" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHA_P<2>" LOC = "G31" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHA_N<1>" LOC = "J32" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHA_P<1>" LOC = "J31" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHA_N<0>" LOC = "J29" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHA_P<0>" LOC = "K28" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHA_N<4>" LOC = "H33" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHA_P<4>" LOC = "H34" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHA_N<3>" LOC = "J34" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHA_P<3>" LOC = "K33" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHA_N<5>" LOC = "H32" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHA_P<5>" LOC = "G32" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHA_N<6>" LOC = "K29" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHA_P<6>" LOC = "J30" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHC_N<3>" LOC = "L26" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHC_P<3>" LOC = "L25" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHC_N<2>" LOC = "G30" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHC_P<2>" LOC = "F30" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHC_N<0>" LOC = "D32" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHC_P<0>" LOC = "D31" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHC_N<1>" LOC = "E33" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHC_P<1>" LOC = "E32" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHC_N<4>" LOC = "C34" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHC_P<4>" LOC = "D34" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHC_N<6>" LOC = "B34" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHC_P<6>" LOC = "C33" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHC_N<5>" LOC = "B32" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHC_P<5>" LOC = "C32" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHE_N<3>" LOC = "B33" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHE_P<3>" LOC = "A33" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CLK_EF_N" LOC = "N29" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CLK_EF_P" LOC = "N28" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CLK_GH_N" LOC = "L30" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CLK_GH_P" LOC = "L29" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHE_N<1>" LOC = "N30" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHE_P<1>" LOC = "M30" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHE_N<2>" LOC = "R29" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHE_P<2>" LOC = "P29" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHE_N<6>" LOC = "T26" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHE_P<6>" LOC = "R26" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHE_N<4>" LOC = "P27" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHE_P<4>" LOC = "N27" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHE_N<0>" LOC = "R27" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHE_P<0>" LOC = "R28" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHG_N<2>" LOC = "P32" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHG_P<2>" LOC = "N32" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHG_N<3>" LOC = "P30" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHG_P<3>" LOC = "P31" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHE_N<5>" LOC = "M32" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHE_P<5>" LOC = "L33" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHG_N<1>" LOC = "R32" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHG_P<1>" LOC = "R31" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHG_N<4>" LOC = "M33" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHG_P<4>" LOC = "N33" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHG_N<0>" LOC = "P34" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHG_P<0>" LOC = "N34" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHG_N<5>" LOC = "M27" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHG_P<5>" LOC = "M26" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHG_N<6>" LOC = "L31" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "CHG_P<6>" LOC = "M31" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "AD9510_SDATA" LOC = "M25" ;
NET "AD9510_SCLK" LOC = "N25" ;
NET "TRIGGER_TO_FPGA" LOC = "K31" ;
NET "AD9510_N_CS" LOC = "K32" ;
NET "FMC_N_PRESENT" LOC = "AD9" ;
NET "FMC_PWR_GOOD_C2M" LOC = "K9" ;

#-------------------------------------------------------------------------------
## Timing constraints
#-------------------------------------------------------------------------------

NET "trigger_to_fpga" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "clk_ab_p" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "clk_cd_p" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "clk_ef_p" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "clk_gh_p" CLOCK_DEDICATED_ROUTE = FALSE;

NET "clk_ab_p" TNM_NET = clk_ab_p;
TIMESPEC TS_clk_ab_p = PERIOD "clk_ab_p" 250 MHz HIGH 50%;

NET "clk_cd_p" TNM_NET = clk_cd_p;
TIMESPEC TS_clk_cd_p = PERIOD "clk_cd_p" 250 MHz HIGH 50%;

NET "clk_ef_p" TNM_NET = clk_ef_p;
TIMESPEC TS_clk_ef_p = PERIOD "clk_ef_p" 250 MHz HIGH 50%;

NET "clk_gh_p" TNM_NET = clk_gh_p;
TIMESPEC TS_clk_gh_p = PERIOD "clk_gh_p" 250 MHz HIGH 50%;

NET "ext_clk_to_fpga_p" TNM_NET = ext_clk_to_fpga_p;
TIMESPEC TS_ext_clk_to_fpga_p = PERIOD "ext_clk_to_fpga_p" 250 MHz HIGH 50%;

INST "cha_p<0>" TNM = ch_ab;
INST "cha_p<1>" TNM = ch_ab;
INST "cha_p<2>" TNM = ch_ab;
INST "cha_p<3>" TNM = ch_ab;
INST "cha_p<4>" TNM = ch_ab;
INST "cha_p<5>" TNM = ch_ab;
INST "cha_p<6>" TNM = ch_ab;
TIMEGRP "ch_ab" OFFSET = IN 1 ns VALID 2 ns BEFORE "clk_ab_p" RISING;
TIMEGRP "ch_ab" OFFSET = IN 1 ns VALID 2 ns BEFORE "clk_ab_p" FALLING;

INST "chc_p<0>" TNM = ch_cd;
INST "chc_p<1>" TNM = ch_cd;
INST "chc_p<2>" TNM = ch_cd;
INST "chc_p<3>" TNM = ch_cd;
INST "chc_p<4>" TNM = ch_cd;
INST "chc_p<5>" TNM = ch_cd;
INST "chc_p<6>" TNM = ch_cd;
TIMEGRP "ch_cd" OFFSET = IN 1 ns VALID 2 ns BEFORE "clk_cd_p" RISING;
TIMEGRP "ch_cd" OFFSET = IN 1 ns VALID 2 ns BEFORE "clk_cd_p" FALLING;

INST "che_p<0>" TNM = ch_ef;
INST "che_p<1>" TNM = ch_ef;
INST "che_p<2>" TNM = ch_ef;
INST "che_p<3>" TNM = ch_ef;
INST "che_p<4>" TNM = ch_ef;
INST "che_p<5>" TNM = ch_ef;
INST "che_p<6>" TNM = ch_ef;
TIMEGRP "ch_ef" OFFSET = IN 1 ns VALID 2 ns BEFORE "clk_ef_p" RISING;
TIMEGRP "ch_ef" OFFSET = IN 1 ns VALID 2 ns BEFORE "clk_ef_p" FALLING;

INST "chg_p<0>" TNM = ch_gh;
INST "chg_p<1>" TNM = ch_gh;
INST "chg_p<2>" TNM = ch_gh;
INST "chg_p<3>" TNM = ch_gh;
INST "chg_p<4>" TNM = ch_gh;
INST "chg_p<5>" TNM = ch_gh;
INST "chg_p<6>" TNM = ch_gh;
TIMEGRP "ch_gh" OFFSET = IN 1 ns VALID 2 ns BEFORE "clk_gh_p" RISING;
TIMEGRP "ch_gh" OFFSET = IN 1 ns VALID 2 ns BEFORE "clk_gh_p" FALLING;
