## Abekas Alder V5-LX50T Board UCF
## Shepard Siegel for Atomic Rules LLC
## 2009-09-26 Creation
## 2009-11-12 Update

CONFIG PART = XC5VLX50T-FF1136-1 ;

NET  "sys0_clkp"     LOC = J14;
NET  "sys0_clkn"     LOC = H13;

NET  "pci0_clkp"     LOC = Y4;
NET  "pci0_clkn"     LOC = Y3;
INST "ftop/pci0_clk" DIFF_TERM = "TRUE";
NET  "pci0_reset_n"  LOC = H14 | IOSTANDARD = "LVCMOS25" | PULLUP | NODELAY;

NET  "ppsExtIn"     LOC = E8  | IOSTANDARD = "LVCMOS25" | PULLUP | NODELAY;
NET  "ppsOut"       LOC = L20 | IOSTANDARD = "LVCMOS33";                   

INST "ftop/pci0_pcie_ep/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[0].GT_i" LOC = GTP_DUAL_X0Y3; 
INST "ftop/pci0_pcie_ep/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[2].GT_i" LOC = GTP_DUAL_X0Y2;
INST "ftop/pci0_pcie_ep/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[4].GT_i" LOC = GTP_DUAL_X0Y1;
INST "ftop/pci0_pcie_ep/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[6].GT_i" LOC = GTP_DUAL_X0Y0;

INST "ftop/pci0_pcie_ep/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_tx/generate_tdp2[1].ram_tdp2_inst" LOC = RAMB36_X1Y9 ;
INST "ftop/pci0_pcie_ep/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_rx/generate_tdp2[1].ram_tdp2_inst" LOC = RAMB36_X1Y8 ;
INST "ftop/pci0_pcie_ep/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_tx/generate_tdp2[0].ram_tdp2_inst" LOC = RAMB36_X1Y7 ;
INST "ftop/pci0_pcie_ep/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_rx/generate_tdp2[0].ram_tdp2_inst" LOC = RAMB36_X1Y6 ;
INST "ftop/pci0_pcie_ep/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_retry/generate_sdp.ram_sdp_inst"      LOC = RAMB36_X1Y5 ;
#
# Timing Constraints...
NET "ftop/pci0_clk_O" PERIOD = 10ns;
NET "ftop/pci0_pcie_ep/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/gt_refclk_out[0]" TNM_NET = "PCI0CLK";
TIMESPEC "TS_PCI0CLK"  = PERIOD "PCI0CLK" 100.00 MHz HIGH 50 % ;

NET "led[0]" LOC = "K21" | IOSTANDARD = "LVCMOS33"; # Led2
NET "led[1]" LOC = "L21" | IOSTANDARD = "LVCMOS33"; # Led3
NET "led[2]" LOC = "E9"  | IOSTANDARD = "LVCMOS25"; # JPCVDATA03


