## KC705 UCF
## Shepard Siegel for Atomic Rules LLC
## 2011-03-22 Creation

CONFIG PART = XC7K325T-FF900-1 ;

#NET  XADC_DXN                  LOC =  U14; # Bank   0 - DXN_0
#NET  XADC_VCC                  LOC =  P15; # Bank   0 - VCCADC_0
#NET  XADC_AGND                 LOC =  P14; # Bank   0 - GNDADC_0
#NET  XADC_DXP                  LOC =  U15; # Bank   0 - DXP_0
#NET  XADC_AGND                 LOC =  R14; # Bank   0 - VREFN_0
#NET  XADC_VREFP                LOC =  T15; # Bank   0 - VREFP_0
#NET  XADC_VP_R                 LOC =  R15; # Bank   0 - VP_0
#NET  XADC_VN_R                 LOC =  T14; # Bank   0 - VN_0
#NET  FPGA_VBATT                LOC =  C10; # Bank   0 - VCCBATT_0
#NET  FPGA_CCLK                 LOC =  B10; # Bank   0 - CCLK_0
#NET  FPGA_TCK_BUF              LOC =  E10; # Bank   0 - TCK_0
#NET  FPGA_TMS_BUF              LOC =  F10; # Bank   0 - TMS_0
#NET  JTAG_TDO                  LOC =  G10; # Bank   0 - TDO_0
#NET  FPGA_TDI_BUF              LOC =  H10; # Bank   0 - TDI_0
#NET  FPGA_INIT_B               LOC =  A10; # Bank   0 - INIT_B_0
#NET  FPGA_PROG_B               LOC =  K10; # Bank   0 - PROGRAM_B_0
#NET  VCC2V5_FPGA               LOC =  L10; # Bank   0 - CFGBVS_0
#NET  FPGA_DONE                 LOC =  M10; # Bank   0 - DONE_0
#NET  FPGA_M2                   LOC =  AB1; # Bank   0 - M2_0
#NET  FPGA_M0                   LOC =  AB5; # Bank   0 - M0_0
#NET  FPGA_M1                   LOC =  AB2; # Bank   0 - M1_0
NET  SFP_TX_DISABLE            LOC =  Y20; # Bank  12 - IO_0_12
NET  USER_SMA_GPIO_P           LOC =  Y23; # Bank  12 - IO_L1P_T0_12
NET  USER_SMA_GPIO_N           LOC =  Y24; # Bank  12 - IO_L1N_T0_12
NET  SDIO_SDWP                 LOC =  Y21; # Bank  12 - IO_L2P_T0_12
NET  SDIO_SDDET                LOC = AA21; # Bank  12 - IO_L2N_T0_12
NET  SDIO_CMD_LS               LOC = AB22; # Bank  12 - IO_L3P_T0_DQS_12
NET  SDIO_CLK_LS               LOC = AB23; # Bank  12 - IO_L3N_T0_DQS_12
NET  SDIO_DAT2_LS              LOC = AA22; # Bank  12 - IO_L4P_T0_12
NET  SDIO_DAT1_LS              LOC = AA23; # Bank  12 - IO_L4N_T0_12
NET  SDIO_DAT0_LS              LOC = AC20; # Bank  12 - IO_L5P_T0_12
NET  SDIO_CD_DAT3_LS           LOC = AC21; # Bank  12 - IO_L5N_T0_12
NET  FMC_LPC_LA12_P            LOC = AA20; # Bank  12 - IO_L6P_T0_12
NET  FMC_LPC_LA12_N            LOC = AB20; # Bank  12 - IO_L6N_T0_VREF_12
NET  FMC_LPC_LA13_P            LOC = AB24; # Bank  12 - IO_L7P_T1_12
NET  FMC_LPC_LA13_N            LOC = AC25; # Bank  12 - IO_L7N_T1_12
NET  FMC_LPC_LA16_P            LOC = AC22; # Bank  12 - IO_L8P_T1_12
NET  FMC_LPC_LA16_N            LOC = AD22; # Bank  12 - IO_L8N_T1_12
NET  FMC_LPC_LA15_P            LOC = AC24; # Bank  12 - IO_L9P_T1_DQS_12
NET  FMC_LPC_LA15_N            LOC = AD24; # Bank  12 - IO_L9N_T1_DQS_12
NET  FMC_LPC_LA14_P            LOC = AD21; # Bank  12 - IO_L10P_T1_12
NET  FMC_LPC_LA14_N            LOC = AE21; # Bank  12 - IO_L10N_T1_12
NET  FMC_LPC_LA01_CC_P         LOC = AE23; # Bank  12 - IO_L11P_T1_SRCC_12
NET  FMC_LPC_LA01_CC_N         LOC = AF23; # Bank  12 - IO_L11N_T1_SRCC_12
NET  FMC_LPC_LA00_CC_P         LOC = AD23; # Bank  12 - IO_L12P_T1_MRCC_12
NET  FMC_LPC_LA00_CC_N         LOC = AE24; # Bank  12 - IO_L12N_T1_MRCC_12
NET  FMC_LPC_CLK0_M2C_P        LOC = AF22; # Bank  12 - IO_L13P_T2_MRCC_12
NET  FMC_LPC_CLK0_M2C_N        LOC = AG23; # Bank  12 - IO_L13N_T2_MRCC_12
NET  SI5326_INT_ALM_LS         LOC = AG24; # Bank  12 - IO_L14P_T2_SRCC_12
NET  HDMI_INT                  LOC = AH24; # Bank  12 - IO_L14N_T2_SRCC_12
NET  FMC_LPC_LA10_P            LOC = AJ24; # Bank  12 - IO_L15P_T2_DQS_12
NET  FMC_LPC_LA10_N            LOC = AK25; # Bank  12 - IO_L15N_T2_DQS_12
NET  FMC_LPC_LA11_P            LOC = AE25; # Bank  12 - IO_L16P_T2_12
NET  FMC_LPC_LA11_N            LOC = AF25; # Bank  12 - IO_L16N_T2_12
NET  FMC_LPC_LA09_P            LOC = AK23; # Bank  12 - IO_L17P_T2_12
NET  FMC_LPC_LA09_N            LOC = AK24; # Bank  12 - IO_L17N_T2_12
NET  FMC_LPC_LA07_P            LOC = AG25; # Bank  12 - IO_L18P_T2_12
NET  FMC_LPC_LA07_N            LOC = AH25; # Bank  12 - IO_L18N_T2_12
NET  FMC_LPC_LA02_P            LOC = AF20; # Bank  12 - IO_L19P_T3_12
NET  FMC_LPC_LA02_N            LOC = AF21; # Bank  12 - IO_L19N_T3_VREF_12
NET  FMC_LPC_LA05_P            LOC = AG22; # Bank  12 - IO_L20P_T3_12
NET  FMC_LPC_LA05_N            LOC = AH22; # Bank  12 - IO_L20N_T3_12
NET  FMC_LPC_LA08_P            LOC = AJ22; # Bank  12 - IO_L21P_T3_DQS_12
NET  FMC_LPC_LA08_N            LOC = AJ23; # Bank  12 - IO_L21N_T3_DQS_12
NET  FMC_LPC_LA03_P            LOC = AG20; # Bank  12 - IO_L22P_T3_12
NET  FMC_LPC_LA03_N            LOC = AH20; # Bank  12 - IO_L22N_T3_12
NET  FMC_LPC_LA04_P            LOC = AH21; # Bank  12 - IO_L23P_T3_12
NET  FMC_LPC_LA04_N            LOC = AJ21; # Bank  12 - IO_L23N_T3_12
NET  FMC_LPC_LA06_P            LOC = AK20; # Bank  12 - IO_L24P_T3_12
NET  FMC_LPC_LA06_N            LOC = AK21; # Bank  12 - IO_L24N_T3_12
NET  SI5326_RST_LS             LOC = AE20; # Bank  12 - IO_25_12
NET  ROTARY_INCB               LOC =  Y25; # Bank  13 - IO_0_13
NET  ROTARY_INCA               LOC =  Y26; # Bank  13 - IO_L1P_T0_13
NET  ROTARY_PUSH               LOC = AA26; # Bank  13 - IO_L1N_T0_13
NET  REC_CLOCK_C_P             LOC =  W27; # Bank  13 - IO_L2P_T0_13
NET  REC_CLOCK_C_N             LOC =  W28; # Bank  13 - IO_L2N_T0_13
NET  GPIO_DIP_SW0              LOC =  Y28; # Bank  13 - IO_L3P_T0_DQS_13
NET  GPIO_DIP_SW7              LOC = AA28; # Bank  13 - IO_L3N_T0_DQS_13
NET  GPIO_DIP_SW6              LOC =  W29; # Bank  13 - IO_L4P_T0_13
NET  GPIO_DIP_SW5              LOC =  Y29; # Bank  13 - IO_L4N_T0_13
NET  GPIO_DIP_SW4              LOC = AA27; # Bank  13 - IO_L5P_T0_13
NET  GPIO_DIP_SW3              LOC = AB28; # Bank  13 - IO_L5N_T0_13
NET  GPIO_DIP_SW2              LOC = AA25; # Bank  13 - IO_L6P_T0_13
NET  GPIO_DIP_SW1              LOC = AB25; # Bank  13 - IO_L6N_T0_VREF_13
NET  FMC_LPC_LA33_P            LOC = AC29; # Bank  13 - IO_L7P_T1_13
NET  FMC_LPC_LA33_N            LOC = AC30; # Bank  13 - IO_L7N_T1_13
NET  FMC_LPC_LA32_P            LOC =  Y30; # Bank  13 - IO_L8P_T1_13
NET  FMC_LPC_LA32_N            LOC = AA30; # Bank  13 - IO_L8N_T1_13
NET  FMC_LPC_LA31_P            LOC = AD29; # Bank  13 - IO_L9P_T1_DQS_13
NET  FMC_LPC_LA31_N            LOC = AE29; # Bank  13 - IO_L9N_T1_DQS_13
NET  FMC_LPC_LA30_P            LOC = AB29; # Bank  13 - IO_L10P_T1_13
NET  FMC_LPC_LA30_N            LOC = AB30; # Bank  13 - IO_L10N_T1_13
NET  FMC_LPC_LA18_CC_P         LOC = AD27; # Bank  13 - IO_L11P_T1_SRCC_13
NET  FMC_LPC_LA18_CC_N         LOC = AD28; # Bank  13 - IO_L11N_T1_SRCC_13
NET  FMC_LPC_LA17_CC_P         LOC = AB27; # Bank  13 - IO_L12P_T1_MRCC_13
NET  FMC_LPC_LA17_CC_N         LOC = AC27; # Bank  13 - IO_L12N_T1_MRCC_13
NET  FMC_LPC_CLK1_M2C_P        LOC = AG29; # Bank  13 - IO_L13P_T2_MRCC_13
NET  FMC_LPC_CLK1_M2C_N        LOC = AH29; # Bank  13 - IO_L13N_T2_MRCC_13
NET  FMC_LPC_LA29_P            LOC = AE28; # Bank  13 - IO_L14P_T2_SRCC_13
NET  FMC_LPC_LA29_N            LOC = AF28; # Bank  13 - IO_L14N_T2_SRCC_13
NET  FMC_LPC_LA26_P            LOC = AK29; # Bank  13 - IO_L15P_T2_DQS_13
NET  FMC_LPC_LA26_N            LOC = AK30; # Bank  13 - IO_L15N_T2_DQS_13
NET  FMC_LPC_LA28_P            LOC = AE30; # Bank  13 - IO_L16P_T2_13
NET  FMC_LPC_LA28_N            LOC = AF30; # Bank  13 - IO_L16N_T2_13
NET  FMC_LPC_LA27_P            LOC = AJ28; # Bank  13 - IO_L17P_T2_13
NET  FMC_LPC_LA27_N            LOC = AJ29; # Bank  13 - IO_L17N_T2_13
NET  FMC_LPC_LA24_P            LOC = AG30; # Bank  13 - IO_L18P_T2_13
NET  FMC_LPC_LA24_N            LOC = AH30; # Bank  13 - IO_L18N_T2_13
NET  FMC_LPC_LA25_P            LOC = AC26; # Bank  13 - IO_L19P_T3_13
NET  FMC_LPC_LA25_N            LOC = AD26; # Bank  13 - IO_L19N_T3_VREF_13
NET  FMC_LPC_LA22_P            LOC = AJ27; # Bank  13 - IO_L20P_T3_13
NET  FMC_LPC_LA22_N            LOC = AK28; # Bank  13 - IO_L20N_T3_13
NET  FMC_LPC_LA21_P            LOC = AG27; # Bank  13 - IO_L21P_T3_DQS_13
NET  FMC_LPC_LA21_N            LOC = AG28; # Bank  13 - IO_L21N_T3_DQS_13
NET  FMC_LPC_LA23_P            LOC = AH26; # Bank  13 - IO_L22P_T3_13
NET  FMC_LPC_LA23_N            LOC = AH27; # Bank  13 - IO_L22N_T3_13
NET  FMC_LPC_LA20_P            LOC = AF26; # Bank  13 - IO_L23P_T3_13
NET  FMC_LPC_LA20_N            LOC = AF27; # Bank  13 - IO_L23N_T3_13
NET  FMC_LPC_LA19_P            LOC = AJ26; # Bank  13 - IO_L24P_T3_13
NET  FMC_LPC_LA19_N            LOC = AK26; # Bank  13 - IO_L24N_T3_13
NET  GPIO_LED_4_LS             LOC = AE26; # Bank  13 - IO_25_13
NET  PHY_RXD4                  LOC =  R19; # Bank  14 - IO_0_14
NET  FLASH_D0                  LOC =  P24; # Bank  14 - IO_L1P_T0_D00_MOSI_14
NET  FLASH_D1                  LOC =  R25; # Bank  14 - IO_L1N_T0_D01_DIN_14
NET  FLASH_D2                  LOC =  R20; # Bank  14 - IO_L2P_T0_D02_14
NET  FLASH_D3                  LOC =  R21; # Bank  14 - IO_L2N_T0_D03_14
NET  PHY_MDC                   LOC =  R23; # Bank  14 - IO_L3P_T0_DQS_PUDC_B_14
NET  FPGA_EMCCLK               LOC =  R24; # Bank  14 - IO_L3N_T0_DQS_EMCCLK_14
NET  FLASH_D4                  LOC =  T20; # Bank  14 - IO_L4P_T0_D04_14
NET  FLASH_D5                  LOC =  T21; # Bank  14 - IO_L4N_T0_D05_14
NET  FLASH_D6                  LOC =  T22; # Bank  14 - IO_L5P_T0_D06_14
NET  FLASH_D7                  LOC =  T23; # Bank  14 - IO_L5N_T0_D07_14
NET  FPGA_FCS                  LOC =  U19; # Bank  14 - IO_L6P_T0_FCS_B_14
NET  FLASH_D8                  LOC =  U20; # Bank  14 - IO_L6N_T0_D08_VREF_14
NET  FLASH_D9                  LOC =  P29; # Bank  14 - IO_L7P_T1_D09_14
NET  FLASH_D10                 LOC =  R29; # Bank  14 - IO_L7N_T1_D10_14
NET  FLASH_D11                 LOC =  P27; # Bank  14 - IO_L8P_T1_D11_14
NET  FLASH_D12                 LOC =  P28; # Bank  14 - IO_L8N_T1_D12_14
NET  PHY_CRS                   LOC =  R30; # Bank  14 - IO_L9P_T1_DQS_14
NET  FLASH_D13                 LOC =  T30; # Bank  14 - IO_L9N_T1_DQS_D13_14
NET  FLASH_D14                 LOC =  P26; # Bank  14 - IO_L10P_T1_D14_14
NET  FLASH_D15                 LOC =  R26; # Bank  14 - IO_L10N_T1_D15_14
NET  PHY_RXCTL_RXDV            LOC =  R28; # Bank  14 - IO_L11P_T1_SRCC_14
NET  PHY_RXD7                  LOC =  T28; # Bank  14 - IO_L11N_T1_SRCC_14
NET  PHY_RXD6                  LOC =  T26; # Bank  14 - IO_L12P_T1_MRCC_14
NET  PHY_RXD5                  LOC =  T27; # Bank  14 - IO_L12N_T1_MRCC_14
NET  PHY_RXCLK                 LOC =  U27; # Bank  14 - IO_L13P_T2_MRCC_14
NET  PHY_RXD3                  LOC =  U28; # Bank  14 - IO_L13N_T2_MRCC_14
NET  PHY_RXD2                  LOC =  T25; # Bank  14 - IO_L14P_T2_SRCC_14
NET  PHY_RXD1                  LOC =  U25; # Bank  14 - IO_L14N_T2_SRCC_14
NET  FLASH_WAIT                LOC =  U29; # Bank  14 - IO_L15P_T2_DQS_RDWR_B_14
NET  PHY_RXD0                  LOC =  U30; # Bank  14 - IO_L15N_T2_DQS_DOUT_CSO_B_14
NET  PHY_RXER                  LOC =  V26; # Bank  14 - IO_L16P_T2_CSI_B_14
NET  FLASH_A15                 LOC =  V27; # Bank  14 - IO_L16N_T2_A15_D31_14
NET  FLASH_A14                 LOC =  V29; # Bank  14 - IO_L17P_T2_A14_D30_14
NET  FLASH_A13                 LOC =  V30; # Bank  14 - IO_L17N_T2_A13_D29_14
NET  FLASH_A12                 LOC =  V25; # Bank  14 - IO_L18P_T2_A12_D28_14
NET  FLASH_A11                 LOC =  W26; # Bank  14 - IO_L18N_T2_A11_D27_14
NET  FLASH_A10                 LOC =  V19; # Bank  14 - IO_L19P_T3_A10_D26_14
NET  FLASH_A9                  LOC =  V20; # Bank  14 - IO_L19N_T3_A09_D25_VREF_14
NET  FLASH_A8                  LOC =  W23; # Bank  14 - IO_L20P_T3_A08_D24_14
NET  FLASH_A7                  LOC =  W24; # Bank  14 - IO_L20N_T3_A07_D23_14
NET  SM_FAN_TACH               LOC =  U22; # Bank  14 - IO_L21P_T3_DQS_14
NET  FLASH_A6                  LOC =  U23; # Bank  14 - IO_L21N_T3_DQS_A06_D22_14
NET  FLASH_A5                  LOC =  V21; # Bank  14 - IO_L22P_T3_A05_D21_14
NET  FLASH_A4                  LOC =  V22; # Bank  14 - IO_L22N_T3_A04_D20_14
NET  FLASH_A3                  LOC =  U24; # Bank  14 - IO_L23P_T3_A03_D19_14
NET  FLASH_A2                  LOC =  V24; # Bank  14 - IO_L23N_T3_A02_D18_14
NET  FLASH_A1                  LOC =  W21; # Bank  14 - IO_L24P_T3_A01_D17_14
NET  FLASH_A0                  LOC =  W22; # Bank  14 - IO_L24N_T3_A00_D16_14
NET  PHY_COL                   LOC =  W19; # Bank  14 - IO_25_14
NET  USB_TX                    LOC =  M19; # Bank  15 - IO_0_15
NET  XADC_VAUX0P_R             LOC =  J23; # Bank  15 - IO_L1P_T0_AD0P_15
NET  XADC_VAUX0N_R             LOC =  J24; # Bank  15 - IO_L1N_T0_AD0N_15
NET  XADC_VAUX8P_R             LOC =  L22; # Bank  15 - IO_L2P_T0_AD8P_15
NET  XADC_VAUX8N_R             LOC =  L23; # Bank  15 - IO_L2N_T0_AD8N_15
NET  USB_RTS                   LOC =  K23; # Bank  15 - IO_L3P_T0_DQS_AD1P_15
NET  USB_RX                    LOC =  K24; # Bank  15 - IO_L3N_T0_DQS_AD1N_15
NET  IIC_SDA_MAIN              LOC =  L21; # Bank  15 - IO_L4P_T0_AD9P_15
NET  IIC_SCL_MAIN              LOC =  K21; # Bank  15 - IO_L4N_T0_AD9N_15
NET  PHY_MDIO                  LOC =  J21; # Bank  15 - IO_L5P_T0_AD2P_15
NET  FMC_LPC_PRSNT_M2C_B_LS    LOC =  J22; # Bank  15 - IO_L5N_T0_AD2N_15
NET  FMC_HPC_PRSNT_M2C_B_LS    LOC =  M20; # Bank  15 - IO_L6P_T0_15
NET  PHY_RESET                 LOC =  L20; # Bank  15 - IO_L6N_T0_VREF_15
NET  FMC_HPC_PG_M2C_LS         LOC =  J29; # Bank  15 - IO_L7P_T1_AD10P_15
NET  FMC_C2M_PG_LS             LOC =  H29; # Bank  15 - IO_L7N_T1_AD10N_15
NET  FMC_VADJ_ON_B             LOC =  J27; # Bank  15 - IO_L8P_T1_AD3P_15
NET  PHY_TXD7                  LOC =  J28; # Bank  15 - IO_L8N_T1_AD3N_15
NET  PHY_TXD6                  LOC =  L30; # Bank  15 - IO_L9P_T1_DQS_AD11P_15
NET  PHY_TXC_GTXCLK            LOC =  K30; # Bank  15 - IO_L9N_T1_DQS_AD11N_15
NET  PHY_TXD5                  LOC =  K26; # Bank  15 - IO_L10P_T1_AD4P_15
NET  PHY_TXD4                  LOC =  J26; # Bank  15 - IO_L10N_T1_AD4N_15
NET  SM_FAN_PWM                LOC =  L26; # Bank  15 - IO_L11P_T1_SRCC_AD12P_15
NET  USB_CTS                   LOC =  L27; # Bank  15 - IO_L11N_T1_SRCC_AD12N_15
NET  USER_SMA_CLOCK_P          LOC =  L25; # Bank  15 - IO_L12P_T1_MRCC_AD5P_15
NET  USER_SMA_CLOCK_N          LOC =  K25; # Bank  15 - IO_L12N_T1_MRCC_AD5N_15
NET  USER_CLOCK_P              LOC =  K28; # Bank  15 - IO_L13P_T2_MRCC_15
NET  USER_CLOCK_N              LOC =  K29; # Bank  15 - IO_L13N_T2_MRCC_15
NET  PHY_TXCLK                 LOC =  M28; # Bank  15 - IO_L14P_T2_SRCC_15
NET  PHY_TXD3                  LOC =  L28; # Bank  15 - IO_L14N_T2_SRCC_15
NET  PHY_TXD2                  LOC =  M29; # Bank  15 - IO_L15P_T2_DQS_15
NET  FLASH_ADV_B               LOC =  M30; # Bank  15 - IO_L15N_T2_DQS_ADV_B_15
NET  PHY_TXD0                  LOC =  N27; # Bank  15 - IO_L16P_T2_A28_15
NET  PHY_TXCTL_TXEN            LOC =  M27; # Bank  15 - IO_L16N_T2_A27_15
NET  PHY_TXER                  LOC =  N29; # Bank  15 - IO_L17P_T2_A26_15
NET  PHY_INT                   LOC =  N30; # Bank  15 - IO_L17N_T2_A25_15
NET  PHY_TXD1                  LOC =  N25; # Bank  15 - IO_L18P_T2_A24_15
NET  FLASH_A23                 LOC =  N26; # Bank  15 - IO_L18N_T2_A23_15
NET  FLASH_A22                 LOC =  N19; # Bank  15 - IO_L19P_T3_A22_15
NET  FLASH_A21                 LOC =  N20; # Bank  15 - IO_L19N_T3_A21_VREF_15
NET  FLASH_A20                 LOC =  N21; # Bank  15 - IO_L20P_T3_A20_15
NET  FLASH_A19                 LOC =  N22; # Bank  15 - IO_L20N_T3_A19_15
NET  IIC_MUX_RESET_B           LOC =  P23; # Bank  15 - IO_L21P_T3_DQS_15
NET  FLASH_A18                 LOC =  N24; # Bank  15 - IO_L21N_T3_DQS_A18_15
NET  FLASH_A17                 LOC =  P21; # Bank  15 - IO_L22P_T3_A17_15
NET  FLASH_A16                 LOC =  P22; # Bank  15 - IO_L22N_T3_A16_15
NET  FLASH_OE_B                LOC =  M24; # Bank  15 - IO_L23P_T3_FOE_B_15
NET  FLASH_FWE_B               LOC =  M25; # Bank  15 - IO_L23N_T3_FWE_B_15
NET  FLASH_A25                 LOC =  M22; # Bank  15 - IO_L24P_T3_RS1_15
NET  FLASH_A24                 LOC =  M23; # Bank  15 - IO_L24N_T3_RS0_15
NET  SFP_LOS_LS                LOC =  P19; # Bank  15 - IO_25_15
NET  PCIE_WAKE_B_LS            LOC =  F23; # Bank  16 - IO_0_16
NET  HDMI_R_D0                 LOC =  B23; # Bank  16 - IO_L1P_T0_16
NET  HDMI_R_D1                 LOC =  A23; # Bank  16 - IO_L1N_T0_16
NET  HDMI_R_D2                 LOC =  E23; # Bank  16 - IO_L2P_T0_16
NET  HDMI_R_D3                 LOC =  D23; # Bank  16 - IO_L2N_T0_16
NET  HDMI_R_D4                 LOC =  F25; # Bank  16 - IO_L3P_T0_DQS_16
NET  HDMI_R_D5                 LOC =  E25; # Bank  16 - IO_L3N_T0_DQS_16
NET  HDMI_R_D6                 LOC =  E24; # Bank  16 - IO_L4P_T0_16
NET  HDMI_R_D7                 LOC =  D24; # Bank  16 - IO_L4N_T0_16
NET  HDMI_R_D8                 LOC =  F26; # Bank  16 - IO_L5P_T0_16
NET  HDMI_R_D9                 LOC =  E26; # Bank  16 - IO_L5N_T0_16
NET  HDMI_R_D10                LOC =  G23; # Bank  16 - IO_L6P_T0_16
NET  HDMI_R_D11                LOC =  G24; # Bank  16 - IO_L6N_T0_VREF_16
NET  FMC_HPC_LA16_P            LOC =  B27; # Bank  16 - IO_L7P_T1_16
NET  FMC_HPC_LA16_N            LOC =  A27; # Bank  16 - IO_L7N_T1_16
NET  FMC_HPC_LA15_P            LOC =  C24; # Bank  16 - IO_L8P_T1_16
NET  FMC_HPC_LA15_N            LOC =  B24; # Bank  16 - IO_L8N_T1_16
NET  FMC_HPC_LA14_P            LOC =  B28; # Bank  16 - IO_L9P_T1_DQS_16
NET  FMC_HPC_LA14_N            LOC =  A28; # Bank  16 - IO_L9N_T1_DQS_16
NET  FMC_HPC_LA13_P            LOC =  A25; # Bank  16 - IO_L10P_T1_16
NET  FMC_HPC_LA13_N            LOC =  A26; # Bank  16 - IO_L10N_T1_16
NET  FMC_HPC_LA01_CC_P         LOC =  D26; # Bank  16 - IO_L11P_T1_SRCC_16
NET  FMC_HPC_LA01_CC_N         LOC =  C26; # Bank  16 - IO_L11N_T1_SRCC_16
NET  FMC_HPC_LA00_CC_P         LOC =  C25; # Bank  16 - IO_L12P_T1_MRCC_16
NET  FMC_HPC_LA00_CC_N         LOC =  B25; # Bank  16 - IO_L12N_T1_MRCC_16
NET  FMC_HPC_CLK0_M2C_P        LOC =  D27; # Bank  16 - IO_L13P_T2_MRCC_16
NET  FMC_HPC_CLK0_M2C_N        LOC =  C27; # Bank  16 - IO_L13N_T2_MRCC_16
NET  FMC_HPC_LA07_P            LOC =  E28; # Bank  16 - IO_L14P_T2_SRCC_16
NET  FMC_HPC_LA07_N            LOC =  D28; # Bank  16 - IO_L14N_T2_SRCC_16
NET  FMC_HPC_LA12_P            LOC =  C29; # Bank  16 - IO_L15P_T2_DQS_16
NET  FMC_HPC_LA12_N            LOC =  B29; # Bank  16 - IO_L15N_T2_DQS_16
NET  FMC_HPC_LA10_P            LOC =  D29; # Bank  16 - IO_L16P_T2_16
NET  FMC_HPC_LA10_N            LOC =  C30; # Bank  16 - IO_L16N_T2_16
NET  FMC_HPC_LA09_P            LOC =  B30; # Bank  16 - IO_L17P_T2_16
NET  FMC_HPC_LA09_N            LOC =  A30; # Bank  16 - IO_L17N_T2_16
NET  FMC_HPC_LA08_P            LOC =  E29; # Bank  16 - IO_L18P_T2_16
NET  FMC_HPC_LA08_N            LOC =  E30; # Bank  16 - IO_L18N_T2_16
NET  FMC_HPC_LA02_P            LOC =  H24; # Bank  16 - IO_L19P_T3_16
NET  FMC_HPC_LA02_N            LOC =  H25; # Bank  16 - IO_L19N_T3_VREF_16
NET  FMC_HPC_LA04_P            LOC =  G28; # Bank  16 - IO_L20P_T3_16
NET  FMC_HPC_LA04_N            LOC =  F28; # Bank  16 - IO_L20N_T3_16
NET  FMC_HPC_LA11_P            LOC =  G27; # Bank  16 - IO_L21P_T3_DQS_16
NET  FMC_HPC_LA11_N            LOC =  F27; # Bank  16 - IO_L21N_T3_DQS_16
NET  FMC_HPC_LA05_P            LOC =  G29; # Bank  16 - IO_L22P_T3_16
NET  FMC_HPC_LA05_N            LOC =  F30; # Bank  16 - IO_L22N_T3_16
NET  FMC_HPC_LA03_P            LOC =  H26; # Bank  16 - IO_L23P_T3_16
NET  FMC_HPC_LA03_N            LOC =  H27; # Bank  16 - IO_L23N_T3_16
NET  FMC_HPC_LA06_P            LOC =  H30; # Bank  16 - IO_L24P_T3_16
NET  FMC_HPC_LA06_N            LOC =  G30; # Bank  16 - IO_L24N_T3_16
NET  PCIE_PERST_LS             LOC =  G25; # Bank  16 - IO_25_16
NET  GPIO_LED_5_LS             LOC =  G19; # Bank  17 - IO_0_17
NET  HDMI_R_CLK                LOC =  K18; # Bank  17 - IO_L1P_T0_17
NET  HDMI_R_HSYNC              LOC =  J18; # Bank  17 - IO_L1N_T0_17
NET  HDMI_R_VSYNC              LOC =  H20; # Bank  17 - IO_L2P_T0_17
NET  HDMI_SPDIF_OUT_LS         LOC =  G20; # Bank  17 - IO_L2N_T0_17
NET  HDMI_R_SPDIF              LOC =  J17; # Bank  17 - IO_L3P_T0_DQS_17
NET  HDMI_R_DE                 LOC =  H17; # Bank  17 - IO_L3N_T0_DQS_17
NET  HDMI_R_D12                LOC =  J19; # Bank  17 - IO_L4P_T0_17
NET  HDMI_R_D13                LOC =  H19; # Bank  17 - IO_L4N_T0_17
NET  HDMI_R_D14                LOC =  L17; # Bank  17 - IO_L5P_T0_17
NET  HDMI_R_D15                LOC =  L18; # Bank  17 - IO_L5N_T0_17
NET  HDMI_R_D16                LOC =  K19; # Bank  17 - IO_L6P_T0_17
NET  HDMI_R_D17                LOC =  K20; # Bank  17 - IO_L6N_T0_VREF_17
NET  FMC_HPC_LA33_P            LOC =  H21; # Bank  17 - IO_L7P_T1_17
NET  FMC_HPC_LA33_N            LOC =  H22; # Bank  17 - IO_L7N_T1_17
NET  FMC_HPC_LA32_P            LOC =  D21; # Bank  17 - IO_L8P_T1_17
NET  FMC_HPC_LA32_N            LOC =  C21; # Bank  17 - IO_L8N_T1_17
NET  FMC_HPC_LA31_P            LOC =  G22; # Bank  17 - IO_L9P_T1_DQS_17
NET  FMC_HPC_LA31_N            LOC =  F22; # Bank  17 - IO_L9N_T1_DQS_17
NET  FMC_HPC_LA30_P            LOC =  D22; # Bank  17 - IO_L10P_T1_17
NET  FMC_HPC_LA30_N            LOC =  C22; # Bank  17 - IO_L10N_T1_17
NET  FMC_HPC_LA18_CC_P         LOC =  F21; # Bank  17 - IO_L11P_T1_SRCC_17
NET  FMC_HPC_LA18_CC_N         LOC =  E21; # Bank  17 - IO_L11N_T1_SRCC_17
NET  FMC_HPC_LA17_CC_P         LOC =  F20; # Bank  17 - IO_L12P_T1_MRCC_17
NET  FMC_HPC_LA17_CC_N         LOC =  E20; # Bank  17 - IO_L12N_T1_MRCC_17
NET  FMC_HPC_CLK1_M2C_P        LOC =  D17; # Bank  17 - IO_L13P_T2_MRCC_17
NET  FMC_HPC_CLK1_M2C_N        LOC =  D18; # Bank  17 - IO_L13N_T2_MRCC_17
NET  FMC_HPC_LA20_P            LOC =  E19; # Bank  17 - IO_L14P_T2_SRCC_17
NET  FMC_HPC_LA20_N            LOC =  D19; # Bank  17 - IO_L14N_T2_SRCC_17
NET  FMC_HPC_LA28_P            LOC =  D16; # Bank  17 - IO_L15P_T2_DQS_17
NET  FMC_HPC_LA28_N            LOC =  C16; # Bank  17 - IO_L15N_T2_DQS_17
NET  FMC_HPC_LA19_P            LOC =  G18; # Bank  17 - IO_L16P_T2_17
NET  FMC_HPC_LA19_N            LOC =  F18; # Bank  17 - IO_L16N_T2_17
NET  FMC_HPC_LA29_P            LOC =  C17; # Bank  17 - IO_L17P_T2_17
NET  FMC_HPC_LA29_N            LOC =  B17; # Bank  17 - IO_L17N_T2_17
NET  FMC_HPC_LA25_P            LOC =  G17; # Bank  17 - IO_L18P_T2_17
NET  FMC_HPC_LA25_N            LOC =  F17; # Bank  17 - IO_L18N_T2_17
NET  FMC_HPC_LA22_P            LOC =  C20; # Bank  17 - IO_L19P_T3_17
NET  FMC_HPC_LA22_N            LOC =  B20; # Bank  17 - IO_L19N_T3_VREF_17
NET  FMC_HPC_LA24_P            LOC =  A16; # Bank  17 - IO_L20P_T3_17
NET  FMC_HPC_LA24_N            LOC =  A17; # Bank  17 - IO_L20N_T3_17
NET  FMC_HPC_LA21_P            LOC =  A20; # Bank  17 - IO_L21P_T3_DQS_17
NET  FMC_HPC_LA21_N            LOC =  A21; # Bank  17 - IO_L21N_T3_DQS_17
NET  FMC_HPC_LA26_P            LOC =  B18; # Bank  17 - IO_L22P_T3_17
NET  FMC_HPC_LA26_N            LOC =  A18; # Bank  17 - IO_L22N_T3_17
NET  FMC_HPC_LA23_P            LOC =  B22; # Bank  17 - IO_L23P_T3_17
NET  FMC_HPC_LA23_N            LOC =  A22; # Bank  17 - IO_L23N_T3_17
NET  FMC_HPC_LA27_P            LOC =  C19; # Bank  17 - IO_L24P_T3_17
NET  FMC_HPC_LA27_N            LOC =  B19; # Bank  17 - IO_L24N_T3_17
NET  GPIO_LED_6_LS             LOC =  E18; # Bank  17 - IO_25_17
NET  GPIO_SW_C                 LOC =  G12; # Bank  18 - IO_0_18
NET  FMC_HPC_HA13_P            LOC =  L16; # Bank  18 - IO_L1P_T0_18
NET  FMC_HPC_HA13_N            LOC =  K16; # Bank  18 - IO_L1N_T0_18
NET  FMC_HPC_HA16_P            LOC =  L15; # Bank  18 - IO_L2P_T0_18
NET  FMC_HPC_HA16_N            LOC =  K15; # Bank  18 - IO_L2N_T0_18
NET  FMC_HPC_HA23_P            LOC =  L12; # Bank  18 - IO_L3P_T0_DQS_18
NET  FMC_HPC_HA23_N            LOC =  L13; # Bank  18 - IO_L3N_T0_DQS_18
NET  FMC_HPC_HA20_P            LOC =  K13; # Bank  18 - IO_L4P_T0_18
NET  FMC_HPC_HA20_N            LOC =  J13; # Bank  18 - IO_L4N_T0_18
NET  FMC_HPC_HA18_P            LOC =  K14; # Bank  18 - IO_L5P_T0_18
NET  FMC_HPC_HA18_N            LOC =  J14; # Bank  18 - IO_L5N_T0_18
NET  FMC_HPC_HA22_P            LOC =  L11; # Bank  18 - IO_L6P_T0_18
NET  FMC_HPC_HA22_N            LOC =  K11; # Bank  18 - IO_L6N_T0_VREF_18
NET  FMC_HPC_HA15_P            LOC =  H15; # Bank  18 - IO_L7P_T1_18
NET  FMC_HPC_HA15_N            LOC =  G15; # Bank  18 - IO_L7N_T1_18
NET  FMC_HPC_HA21_P            LOC =  J11; # Bank  18 - IO_L8P_T1_18
NET  FMC_HPC_HA21_N            LOC =  J12; # Bank  18 - IO_L8N_T1_18
NET  FMC_HPC_HA14_P            LOC =  J16; # Bank  18 - IO_L9P_T1_DQS_18
NET  FMC_HPC_HA14_N            LOC =  H16; # Bank  18 - IO_L9N_T1_DQS_18
NET  FMC_HPC_HA19_P            LOC =  H11; # Bank  18 - IO_L10P_T1_18
NET  FMC_HPC_HA19_N            LOC =  H12; # Bank  18 - IO_L10N_T1_18
NET  FMC_HPC_HA01_CC_P         LOC =  H14; # Bank  18 - IO_L11P_T1_SRCC_18
NET  FMC_HPC_HA01_CC_N         LOC =  G14; # Bank  18 - IO_L11N_T1_SRCC_18
NET  FMC_HPC_HA17_CC_P         LOC =  G13; # Bank  18 - IO_L12P_T1_MRCC_18
NET  FMC_HPC_HA17_CC_N         LOC =  F13; # Bank  18 - IO_L12N_T1_MRCC_18
NET  FMC_HPC_HA00_CC_P         LOC =  D12; # Bank  18 - IO_L13P_T2_MRCC_18
NET  FMC_HPC_HA00_CC_N         LOC =  D13; # Bank  18 - IO_L13N_T2_MRCC_18
NET  FMC_HPC_HA09_P            LOC =  F12; # Bank  18 - IO_L14P_T2_SRCC_18
NET  FMC_HPC_HA09_N            LOC =  E13; # Bank  18 - IO_L14N_T2_SRCC_18
NET  FMC_HPC_HA03_P            LOC =  C12; # Bank  18 - IO_L15P_T2_DQS_18
NET  FMC_HPC_HA03_N            LOC =  B12; # Bank  18 - IO_L15N_T2_DQS_18
NET  FMC_HPC_HA04_P            LOC =  F11; # Bank  18 - IO_L16P_T2_18
NET  FMC_HPC_HA04_N            LOC =  E11; # Bank  18 - IO_L16N_T2_18
NET  FMC_HPC_HA10_P            LOC =  A11; # Bank  18 - IO_L17P_T2_18
NET  FMC_HPC_HA10_N            LOC =  A12; # Bank  18 - IO_L17N_T2_18
NET  FMC_HPC_HA02_P            LOC =  D11; # Bank  18 - IO_L18P_T2_18
NET  FMC_HPC_HA02_N            LOC =  C11; # Bank  18 - IO_L18N_T2_18
NET  FMC_HPC_HA05_P            LOC =  F15; # Bank  18 - IO_L19P_T3_18
NET  FMC_HPC_HA05_N            LOC =  E16; # Bank  18 - IO_L19N_T3_VREF_18
NET  FMC_HPC_HA08_P            LOC =  E14; # Bank  18 - IO_L20P_T3_18
NET  FMC_HPC_HA08_N            LOC =  E15; # Bank  18 - IO_L20N_T3_18
NET  FMC_HPC_HA06_P            LOC =  D14; # Bank  18 - IO_L21P_T3_DQS_18
NET  FMC_HPC_HA06_N            LOC =  C14; # Bank  18 - IO_L21N_T3_DQS_18
NET  FMC_HPC_HA11_P            LOC =  B13; # Bank  18 - IO_L22P_T3_18
NET  FMC_HPC_HA11_N            LOC =  A13; # Bank  18 - IO_L22N_T3_18
NET  FMC_HPC_HA12_P            LOC =  C15; # Bank  18 - IO_L23P_T3_18
NET  FMC_HPC_HA12_N            LOC =  B15; # Bank  18 - IO_L23N_T3_18
NET  FMC_HPC_HA07_P            LOC =  B14; # Bank  18 - IO_L24P_T3_18
NET  FMC_HPC_HA07_N            LOC =  A15; # Bank  18 - IO_L24N_T3_18
NET  GPIO_LED_7_LS             LOC =  F16; # Bank  18 - IO_25_18
NET  VRN_32                    LOC =  Y14; # Bank  32 - IO_0_VRN_32
NET  DDR3_D24                  LOC = AK16; # Bank  32 - IO_L1P_T0_32
NET  DDR3_D31                  LOC = AK15; # Bank  32 - IO_L1N_T0_32
NET  DDR3_D26                  LOC = AG15; # Bank  32 - IO_L2P_T0_32
NET  DDR3_D30                  LOC = AH15; # Bank  32 - IO_L2N_T0_32
NET  DDR3_DQS3_P               LOC = AH16; # Bank  32 - IO_L3P_T0_DQS_32
NET  DDR3_DQS3_N               LOC = AJ16; # Bank  32 - IO_L3N_T0_DQS_32
NET  DDR3_D27                  LOC = AF15; # Bank  32 - IO_L4P_T0_32
NET  DDR3_D29                  LOC = AG14; # Bank  32 - IO_L4N_T0_32
NET  DDR3_D28                  LOC = AH17; # Bank  32 - IO_L5P_T0_32
NET  DDR3_D25                  LOC = AJ17; # Bank  32 - IO_L5N_T0_32
NET  DDR3_DM3                  LOC = AE16; # Bank  32 - IO_L6P_T0_32
NET  PMBUS_DATA_LS             LOC = AF16; # Bank  32 - IO_L6N_T0_VREF_32
NET  DDR3_D21                  LOC = AJ19; # Bank  32 - IO_L7P_T1_32
NET  DDR3_D17                  LOC = AK19; # Bank  32 - IO_L7N_T1_32
NET  DDR3_D16                  LOC = AG19; # Bank  32 - IO_L8P_T1_32
NET  DDR3_D20                  LOC = AH19; # Bank  32 - IO_L8N_T1_32
NET  DDR3_DQS2_P               LOC = AJ18; # Bank  32 - IO_L9P_T1_DQS_32
NET  DDR3_DQS2_N               LOC = AK18; # Bank  32 - IO_L9N_T1_DQS_32
NET  DDR3_D23                  LOC = AD19; # Bank  32 - IO_L10P_T1_32
NET  DDR3_D22                  LOC = AE19; # Bank  32 - IO_L10N_T1_32
NET  DDR3_D19                  LOC = AF18; # Bank  32 - IO_L11P_T1_SRCC_32
NET  DDR3_D18                  LOC = AG18; # Bank  32 - IO_L11N_T1_SRCC_32
NET  DDR3_DM2                  LOC = AF17; # Bank  32 - IO_L12P_T1_MRCC_32
NET  PMBUS_CLK_LS              LOC = AG17; # Bank  32 - IO_L12N_T1_MRCC_32
NET  DDR3_D15                  LOC = AD18; # Bank  32 - IO_L13P_T2_MRCC_32
NET  DDR3_D14                  LOC = AE18; # Bank  32 - IO_L13N_T2_MRCC_32
NET  DDR3_D11                  LOC = AD17; # Bank  32 - IO_L14P_T2_SRCC_32
NET  DDR3_D9                   LOC = AD16; # Bank  32 - IO_L14N_T2_SRCC_32
NET  DDR3_DQS1_P               LOC =  Y19; # Bank  32 - IO_L15P_T2_DQS_32
NET  DDR3_DQS1_N               LOC =  Y18; # Bank  32 - IO_L15N_T2_DQS_32
NET  DDR3_D12                  LOC = AA18; # Bank  32 - IO_L16P_T2_32
NET  DDR3_D13                  LOC = AB18; # Bank  32 - IO_L16N_T2_32
NET  DDR3_D8                   LOC = AB19; # Bank  32 - IO_L17P_T2_32
NET  DDR3_D10                  LOC = AC19; # Bank  32 - IO_L17N_T2_32
NET  DDR3_DM1                  LOC = AB17; # Bank  32 - IO_L18P_T2_32
NET  PMBUS_CTRL_LS             LOC = AC17; # Bank  32 - IO_L18N_T2_32
NET  DDR3_D6                   LOC = AE15; # Bank  32 - IO_L19P_T3_32
NET  DDR3_D7                   LOC = AE14; # Bank  32 - IO_L19N_T3_VREF_32
NET  DDR3_D0                   LOC = AA15; # Bank  32 - IO_L20P_T3_32
NET  DDR3_D5                   LOC = AB15; # Bank  32 - IO_L20N_T3_32
NET  DDR3_DQS0_P               LOC = AC16; # Bank  32 - IO_L21P_T3_DQS_32
NET  DDR3_DQS0_N               LOC = AC15; # Bank  32 - IO_L21N_T3_DQS_32
NET  DDR3_D2                   LOC = AC14; # Bank  32 - IO_L22P_T3_32
NET  DDR3_D3                   LOC = AD14; # Bank  32 - IO_L22N_T3_32
NET  DDR3_D4                   LOC = AA17; # Bank  32 - IO_L23P_T3_32
NET  DDR3_D1                   LOC = AA16; # Bank  32 - IO_L23N_T3_32
NET  DDR3_DM0                  LOC =  Y16; # Bank  32 - IO_L24P_T3_32
NET  PMBUS_ALERT_LS            LOC =  Y15; # Bank  32 - IO_L24N_T3_32
NET  VRP_32                    LOC = AB14; # Bank  32 - IO_25_VRP_32
NET  VRN_33                    LOC =  Y13; # Bank  33 - IO_0_VRN_33
NET  GPIO_SW_N                 LOC = AA12; # Bank  33 - IO_L1P_T0_33
NET  GPIO_SW_S                 LOC = AB12; # Bank  33 - IO_L1N_T0_33
NET  GPIO_LED_1_LS             LOC =  AA8; # Bank  33 - IO_L2P_T0_33
NET  GPIO_LED_0_LS             LOC =  AB8; # Bank  33 - IO_L2N_T0_33
NET  GPIO_LED_3_LS             LOC =  AB9; # Bank  33 - IO_L3P_T0_DQS_33
NET  GPIO_LED_2_LS             LOC =  AC9; # Bank  33 - IO_L3N_T0_DQS_33
NET  LCD_RS_LS                 LOC =  Y11; # Bank  33 - IO_L4P_T0_33
NET  LCD_DB7_LS                LOC =  Y10; # Bank  33 - IO_L4N_T0_33
NET  LCD_DB6_LS                LOC = AA11; # Bank  33 - IO_L5P_T0_33
NET  LCD_DB5_LS                LOC = AA10; # Bank  33 - IO_L5N_T0_33
NET  LCD_DB4_LS                LOC = AA13; # Bank  33 - IO_L6P_T0_33
NET  LCD_RW_LS                 LOC = AB13; # Bank  33 - IO_L6N_T0_VREF_33
NET  LCD_E_LS                  LOC = AB10; # Bank  33 - IO_L7P_T1_33
NET  DDR3_ODT1                 LOC = AC10; # Bank  33 - IO_L7N_T1_33
NET  DDR3_ODT0                 LOC =  AD8; # Bank  33 - IO_L8P_T1_33
NET  DDR3_S1_B                 LOC =  AE8; # Bank  33 - IO_L8N_T1_33
NET  DDR3_S0_B                 LOC = AC12; # Bank  33 - IO_L9P_T1_DQS_33
NET  DDR3_CAS_B                LOC = AC11; # Bank  33 - IO_L9N_T1_DQS_33
NET  DDR3_RAS_B                LOC =  AD9; # Bank  33 - IO_L10P_T1_33
NET  DDR3_WE_B                 LOC =  AE9; # Bank  33 - IO_L10N_T1_33
NET  DDR3_CLK1_P               LOC = AE11; # Bank  33 - IO_L11P_T1_SRCC_33
NET  DDR3_CLK1_N               LOC = AF11; # Bank  33 - IO_L11N_T1_SRCC_33
NET  SYSCLK_P                  LOC = AD12; # Bank  33 - IO_L12P_T1_MRCC_33
NET  SYSCLK_N                  LOC = AD11; # Bank  33 - IO_L12N_T1_MRCC_33
NET  DDR3_CLK0_P               LOC = AG10; # Bank  33 - IO_L13P_T2_MRCC_33
NET  DDR3_CLK0_N               LOC = AH10; # Bank  33 - IO_L13N_T2_MRCC_33
NET  DDR3_CKE1                 LOC = AE10; # Bank  33 - IO_L14P_T2_SRCC_33
NET  DDR3_CKE0                 LOC = AF10; # Bank  33 - IO_L14N_T2_SRCC_33
NET  DDR3_TEMP_EVENT           LOC =  AJ9; # Bank  33 - IO_L15P_T2_DQS_33
NET  DDR3_BA2                  LOC =  AK9; # Bank  33 - IO_L15N_T2_DQS_33
NET  DDR3_BA1                  LOC =  AG9; # Bank  33 - IO_L16P_T2_33
NET  DDR3_BA0                  LOC =  AH9; # Bank  33 - IO_L16N_T2_33
NET  DDR3_A15                  LOC = AK11; # Bank  33 - IO_L17P_T2_33
NET  DDR3_A14                  LOC = AK10; # Bank  33 - IO_L17N_T2_33
NET  DDR3_A13                  LOC = AH11; # Bank  33 - IO_L18P_T2_33
NET  DDR3_A12                  LOC = AJ11; # Bank  33 - IO_L18N_T2_33
NET  DDR3_A11                  LOC = AE13; # Bank  33 - IO_L19P_T3_33
NET  DDR3_A10                  LOC = AF13; # Bank  33 - IO_L19N_T3_VREF_33
NET  DDR3_A9                   LOC = AK14; # Bank  33 - IO_L20P_T3_33
NET  DDR3_A8                   LOC = AK13; # Bank  33 - IO_L20N_T3_33
NET  DDR3_A7                   LOC = AH14; # Bank  33 - IO_L21P_T3_DQS_33
NET  DDR3_A6                   LOC = AJ14; # Bank  33 - IO_L21N_T3_DQS_33
NET  DDR3_A5                   LOC = AJ13; # Bank  33 - IO_L22P_T3_33
NET  DDR3_A4                   LOC = AJ12; # Bank  33 - IO_L22N_T3_33
NET  DDR3_A3                   LOC = AF12; # Bank  33 - IO_L23P_T3_33
NET  DDR3_A2                   LOC = AG12; # Bank  33 - IO_L23N_T3_33
NET  DDR3_A1                   LOC = AG13; # Bank  33 - IO_L24P_T3_33
NET  DDR3_A0                   LOC = AH12; # Bank  33 - IO_L24N_T3_33
NET  VRP_33                    LOC = AD13; # Bank  33 - IO_25_VRP_33
NET  VRN_34                    LOC =  AC6; # Bank  34 - IO_0_VRN_34
NET  DDR3_D63                  LOC =  AD4; # Bank  34 - IO_L1P_T0_34
NET  DDR3_D57                  LOC =  AD3; # Bank  34 - IO_L1N_T0_34
NET  DDR3_D62                  LOC =  AC2; # Bank  34 - IO_L2P_T0_34
NET  DDR3_D56                  LOC =  AC1; # Bank  34 - IO_L2N_T0_34
NET  DDR3_DQS7_P               LOC =  AD2; # Bank  34 - IO_L3P_T0_DQS_34
NET  DDR3_DQS7_N               LOC =  AD1; # Bank  34 - IO_L3N_T0_DQS_34
NET  DDR3_D59                  LOC =  AC5; # Bank  34 - IO_L4P_T0_34
NET  DDR3_D58                  LOC =  AC4; # Bank  34 - IO_L4N_T0_34
NET  DDR3_D61                  LOC =  AD6; # Bank  34 - IO_L5P_T0_34
NET  DDR3_D60                  LOC =  AE6; # Bank  34 - IO_L5N_T0_34
NET  DDR3_DM7                  LOC =  AC7; # Bank  34 - IO_L6P_T0_34
NET  GPIO_SW_W                 LOC =  AD7; # Bank  34 - IO_L6N_T0_VREF_34
NET  DDR3_D52                  LOC =  AF3; # Bank  34 - IO_L7P_T1_34
NET  DDR3_D49                  LOC =  AF2; # Bank  34 - IO_L7N_T1_34
NET  DDR3_D54                  LOC =  AE1; # Bank  34 - IO_L8P_T1_34
NET  DDR3_D48                  LOC =  AF1; # Bank  34 - IO_L8N_T1_34
NET  DDR3_DQS6_P               LOC =  AG4; # Bank  34 - IO_L9P_T1_DQS_34
NET  DDR3_DQS6_N               LOC =  AG3; # Bank  34 - IO_L9N_T1_DQS_34
NET  DDR3_D50                  LOC =  AE4; # Bank  34 - IO_L10P_T1_34
NET  DDR3_D51                  LOC =  AE3; # Bank  34 - IO_L10N_T1_34
NET  DDR3_D55                  LOC =  AE5; # Bank  34 - IO_L11P_T1_SRCC_34
NET  DDR3_D53                  LOC =  AF5; # Bank  34 - IO_L11N_T1_SRCC_34
NET  DDR3_DM6                  LOC =  AF6; # Bank  34 - IO_L12P_T1_MRCC_34
NET  GPIO_SW_E                 LOC =  AG5; # Bank  34 - IO_L12N_T1_MRCC_34
NET  DDR3_D44                  LOC =  AH4; # Bank  34 - IO_L13P_T2_MRCC_34
NET  DDR3_D45                  LOC =  AJ4; # Bank  34 - IO_L13N_T2_MRCC_34
NET  DDR3_D41                  LOC =  AH6; # Bank  34 - IO_L14P_T2_SRCC_34
NET  DDR3_D40                  LOC =  AH5; # Bank  34 - IO_L14N_T2_SRCC_34
NET  DDR3_DQS5_P               LOC =  AG2; # Bank  34 - IO_L15P_T2_DQS_34
NET  DDR3_DQS5_N               LOC =  AH1; # Bank  34 - IO_L15N_T2_DQS_34
NET  DDR3_D43                  LOC =  AH2; # Bank  34 - IO_L16P_T2_34
NET  DDR3_D42                  LOC =  AJ2; # Bank  34 - IO_L16N_T2_34
NET  DDR3_D47                  LOC =  AJ1; # Bank  34 - IO_L17P_T2_34
NET  DDR3_D46                  LOC =  AK1; # Bank  34 - IO_L17N_T2_34
NET  DDR3_DM5                  LOC =  AJ3; # Bank  34 - IO_L18P_T2_34
NET  DDR3_RESET_B              LOC =  AK3; # Bank  34 - IO_L18N_T2_34
NET  DDR3_D36                  LOC =  AF8; # Bank  34 - IO_L19P_T3_34
NET  DDR3_D37                  LOC =  AG8; # Bank  34 - IO_L19N_T3_VREF_34
NET  DDR3_D35                  LOC =  AF7; # Bank  34 - IO_L20P_T3_34
NET  DDR3_D34                  LOC =  AG7; # Bank  34 - IO_L20N_T3_34
NET  DDR3_DQS4_P               LOC =  AH7; # Bank  34 - IO_L21P_T3_DQS_34
NET  DDR3_DQS4_N               LOC =  AJ7; # Bank  34 - IO_L21N_T3_DQS_34
NET  DDR3_D39                  LOC =  AJ6; # Bank  34 - IO_L22P_T3_34
NET  DDR3_D33                  LOC =  AK6; # Bank  34 - IO_L22N_T3_34
NET  DDR3_D38                  LOC =  AJ8; # Bank  34 - IO_L23P_T3_34
NET  DDR3_D32                  LOC =  AK8; # Bank  34 - IO_L23N_T3_34
NET  DDR3_DM4                  LOC =  AK5; # Bank  34 - IO_L24P_T3_34
NET  CPU_RESET                 LOC =  AK4; # Bank  34 - IO_L24N_T3_34
NET  VRP_34                    LOC =  AB7; # Bank  34 - IO_25_VRP_34
#NET  PCIE_TX4_P                LOC =   T2; # Bank 115 - MGTXTXP3_115
#NET  PCIE_RX4_P                LOC =   V6; # Bank 115 - MGTXRXP3_115
#NET  PCIE_TX4_N                LOC =   T1; # Bank 115 - MGTXTXN3_115
#NET  PCIE_RX4_N                LOC =   V5; # Bank 115 - MGTXRXN3_115
#NET  PCIE_TX5_P                LOC =   U4; # Bank 115 - MGTXTXP2_115
#NET  PCIE_RX5_P                LOC =   W4; # Bank 115 - MGTXRXP2_115
#NET  PCIE_TX5_N                LOC =   U3; # Bank 115 - MGTXTXN2_115
NET  10N302                    LOC =   R8; # Bank 115 - MGTREFCLK0P_115
#NET  PCIE_RX5_N                LOC =   W3; # Bank 115 - MGTXRXN2_115
#NET  MGTAVTT                   LOC =   W7; # Bank 115 - MGTAVTTRCAL_115
NET  10N301                    LOC =   R7; # Bank 115 - MGTREFCLK0N_115
#NET  10N173                    LOC =   W8; # Bank 115 - MGTRREF_115
NET  10N221                    LOC =   U7; # Bank 115 - MGTREFCLK1N_115
NET  10N255                    LOC =   U8; # Bank 115 - MGTREFCLK1P_115
#NET  PCIE_TX6_P                LOC =   V2; # Bank 115 - MGTXTXP1_115
#NET  PCIE_RX6_P                LOC =   Y6; # Bank 115 - MGTXRXP1_115
#NET  PCIE_TX6_N                LOC =   V1; # Bank 115 - MGTXTXN1_115
#NET  PCIE_RX6_N                LOC =   Y5; # Bank 115 - MGTXRXN1_115
#NET  PCIE_TX7_P                LOC =   Y2; # Bank 115 - MGTXTXP0_115
#NET  PCIE_RX7_P                LOC =  AA4; # Bank 115 - MGTXRXP0_115
#NET  PCIE_TX7_N                LOC =   Y1; # Bank 115 - MGTXTXN0_115
#NET  PCIE_RX7_N                LOC =  AA3; # Bank 115 - MGTXRXN0_115
#NET  PCIE_TX0_P                LOC =   L4; # Bank 116 - MGTXTXP3_116
#NET  PCIE_RX0_P                LOC =   M6; # Bank 116 - MGTXRXP3_116
#NET  PCIE_TX0_N                LOC =   L3; # Bank 116 - MGTXTXN3_116
#NET  PCIE_RX0_N                LOC =   M5; # Bank 116 - MGTXRXN3_116
#NET  PCIE_TX1_P                LOC =   M2; # Bank 116 - MGTXTXP2_116
#NET  PCIE_RX1_P                LOC =   P6; # Bank 116 - MGTXRXP2_116
#NET  PCIE_TX1_N                LOC =   M1; # Bank 116 - MGTXTXN2_116
NET  SI5326_OUT_C_P            LOC =   L8; # Bank 116 - MGTREFCLK0P_116
#NET  PCIE_RX1_N                LOC =   P5; # Bank 116 - MGTXRXN2_116
NET  SI5326_OUT_C_N            LOC =   L7; # Bank 116 - MGTREFCLK0N_116
NET  PCIE_CLK_QO_N             LOC =   N7; # Bank 116 - MGTREFCLK1N_116
NET  PCIE_CLK_QO_P             LOC =   N8; # Bank 116 - MGTREFCLK1P_116
#NET  PCIE_TX2_P                LOC =   N4; # Bank 116 - MGTXTXP1_116
#NET  PCIE_RX2_P                LOC =   R4; # Bank 116 - MGTXRXP1_116
#NET  PCIE_TX2_N                LOC =   N3; # Bank 116 - MGTXTXN1_116
#NET  PCIE_RX2_N                LOC =   R3; # Bank 116 - MGTXRXN1_116
#NET  PCIE_TX3_P                LOC =   P2; # Bank 116 - MGTXTXP0_116
#NET  PCIE_RX3_P                LOC =   T6; # Bank 116 - MGTXRXP0_116
#NET  PCIE_TX3_N                LOC =   P1; # Bank 116 - MGTXTXN0_116
#NET  PCIE_RX3_N                LOC =   T5; # Bank 116 - MGTXRXN0_116
#NET  FMC_LPC_DP0_C2M_P         LOC =   F2; # Bank 117 - MGTXTXP3_117
#NET  FMC_LPC_DP0_M2C_P         LOC =   F6; # Bank 117 - MGTXRXP3_117
#NET  FMC_LPC_DP0_C2M_N         LOC =   F1; # Bank 117 - MGTXTXN3_117
#NET  FMC_LPC_DP0_M2C_N         LOC =   F5; # Bank 117 - MGTXRXN3_117
#NET  SFP_TX_P                  LOC =   H2; # Bank 117 - MGTXTXP2_117
#NET  SFP_RX_N                  LOC =   G4; # Bank 117 - MGTXRXP2_117
#NET  SFP_TX_N                  LOC =   H1; # Bank 117 - MGTXTXN2_117
NET  SGMIICLK_Q0_P             LOC =   G8; # Bank 117 - MGTREFCLK0P_117
#NET  SFP_RX_P                  LOC =   G3; # Bank 117 - MGTXRXN2_117
NET  SGMIICLK_Q0_N             LOC =   G7; # Bank 117 - MGTREFCLK0N_117
NET  SMA_MGT_REFCLK_N          LOC =   J7; # Bank 117 - MGTREFCLK1N_117
NET  SMA_MGT_REFCLK_P          LOC =   J8; # Bank 117 - MGTREFCLK1P_117
#NET  SGMII_TX_P                LOC =   J4; # Bank 117 - MGTXTXP1_117
#NET  SGMII_RX_P                LOC =   H6; # Bank 117 - MGTXRXP1_117
#NET  SGMII_TX_N                LOC =   J3; # Bank 117 - MGTXTXN1_117
#NET  SGMII_RX_N                LOC =   H5; # Bank 117 - MGTXRXN1_117
#NET  SMA_MGT_TX_P              LOC =   K2; # Bank 117 - MGTXTXP0_117
#NET  SMA_MGT_RX_P              LOC =   K6; # Bank 117 - MGTXRXP0_117
#NET  SMA_MGT_TX_N              LOC =   K1; # Bank 117 - MGTXTXN0_117
#NET  SMA_MGT_RX_N              LOC =   K5; # Bank 117 - MGTXRXN0_117
#NET  FMC_HPC_DP3_C2M_P         LOC =   A4; # Bank 118 - MGTXTXP3_118
#NET  FMC_HPC_DP3_M2C_P         LOC =   A8; # Bank 118 - MGTXRXP3_118
#NET  FMC_HPC_DP3_C2M_N         LOC =   A3; # Bank 118 - MGTXTXN3_118
#NET  FMC_HPC_DP3_M2C_N         LOC =   A7; # Bank 118 - MGTXRXN3_118
#NET  FMC_HPC_DP2_C2M_P         LOC =   B2; # Bank 118 - MGTXTXP2_118
#NET  FMC_HPC_DP2_M2C_P         LOC =   B6; # Bank 118 - MGTXRXP2_118
#NET  FMC_HPC_DP2_C2M_N         LOC =   B1; # Bank 118 - MGTXTXN2_118
NET  FMC_HPC_GBTCLK0_M2C_C_P   LOC =   C8; # Bank 118 - MGTREFCLK0P_118
#NET  FMC_HPC_DP2_M2C_N         LOC =   B5; # Bank 118 - MGTXRXN2_118
NET  FMC_HPC_GBTCLK0_M2C_C_N   LOC =   C7; # Bank 118 - MGTREFCLK0N_118
NET  FMC_LPC_GBTCLK0_M2C_C_N   LOC =   E7; # Bank 118 - MGTREFCLK1N_118
NET  FMC_LPC_GBTCLK0_M2C_C_P   LOC =   E8; # Bank 118 - MGTREFCLK1P_118
#NET  FMC_HPC_DP1_C2M_P         LOC =   C4; # Bank 118 - MGTXTXP1_118
#NET  FMC_HPC_DP1_M2C_P         LOC =   D6; # Bank 118 - MGTXRXP1_118
#NET  FMC_HPC_DP1_C2M_N         LOC =   C3; # Bank 118 - MGTXTXN1_118
#NET  FMC_HPC_DP1_M2C_N         LOC =   D5; # Bank 118 - MGTXRXN1_118
#NET  FMC_HPC_DP0_C2M_P         LOC =   D2; # Bank 118 - MGTXTXP0_118
#NET  FMC_HPC_DP0_M2C_P         LOC =   E4; # Bank 118 - MGTXRXP0_118
#NET  FMC_HPC_DP0_C2M_N         LOC =   D1; # Bank 118 - MGTXTXN0_118
#NET  FMC_HPC_DP0_M2C_N         LOC =   E3; # Bank 118 - MGTXRXN0_118
#NET  MGTAVCC                   LOC =   B7; # Bank  -1 - MGTAVCC
#NET  MGTAVCC                   LOC =   D7; # Bank  -1 - MGTAVCC
#NET  MGTAVCC                   LOC =   F7; # Bank  -1 - MGTAVCC
#NET  MGTAVCC                   LOC =   H7; # Bank  -1 - MGTAVCC
#NET  MGTAVCC                   LOC =   K7; # Bank  -1 - MGTAVCC
#NET  MGTAVCC                   LOC =   M7; # Bank  -1 - MGTAVCC
#NET  MGTAVCC                   LOC =   P7; # Bank  -1 - MGTAVCC
#NET  MGTVCCAUX                 LOC =   T7; # Bank  -1 - MGTVCCAUX
#NET  MGTVCCAUX                 LOC =   V7; # Bank  -1 - MGTVCCAUX
#NET  MGTAVTT                   LOC =   B3; # Bank  -1 - MGTAVTT
#NET  MGTAVTT                   LOC =   C5; # Bank  -1 - MGTAVTT
#NET  MGTAVTT                   LOC =   D3; # Bank  -1 - MGTAVTT
#NET  MGTAVTT                   LOC =   E5; # Bank  -1 - MGTAVTT
#NET  MGTAVTT                   LOC =   F3; # Bank  -1 - MGTAVTT
#NET  MGTAVTT                   LOC =   G5; # Bank  -1 - MGTAVTT
#NET  MGTAVTT                   LOC =   H3; # Bank  -1 - MGTAVTT
#NET  MGTAVTT                   LOC =   J5; # Bank  -1 - MGTAVTT
#NET  MGTAVTT                   LOC =   K3; # Bank  -1 - MGTAVTT
#NET  MGTAVTT                   LOC =   L5; # Bank  -1 - MGTAVTT
#NET  MGTAVTT                   LOC =   M3; # Bank  -1 - MGTAVTT
#NET  MGTAVTT                   LOC =   N5; # Bank  -1 - MGTAVTT
#NET  MGTAVTT                   LOC =   P3; # Bank  -1 - MGTAVTT
#NET  MGTAVTT                   LOC =   R5; # Bank  -1 - MGTAVTT
#NET  MGTAVTT                   LOC =   T3; # Bank  -1 - MGTAVTT
#NET  MGTAVTT                   LOC =   U5; # Bank  -1 - MGTAVTT
#NET  MGTAVTT                   LOC =   V3; # Bank  -1 - MGTAVTT
#NET  MGTAVTT                   LOC =   W5; # Bank  -1 - MGTAVTT
#NET  VCCINT_FPGA               LOC =  N16; # Bank  -1 - VCCBRAM
#NET  VCCINT_FPGA               LOC =  R16; # Bank  -1 - VCCBRAM
#NET  VCCINT_FPGA               LOC =  U16; # Bank  -1 - VCCBRAM
#NET  VCCINT_FPGA               LOC =  W16; # Bank  -1 - VCCBRAM
#NET  GND                       LOC =   A1; # Bank  -1 - GND
#NET  GND                       LOC =  A14; # Bank  -1 - GND
#NET  GND                       LOC =   A2; # Bank  -1 - GND
#NET  GND                       LOC =  A24; # Bank  -1 - GND
#NET  GND                       LOC =   A5; # Bank  -1 - GND
#NET  GND                       LOC =   A6; # Bank  -1 - GND
#NET  GND                       LOC =   A9; # Bank  -1 - GND
#NET  GND                       LOC =  AA1; # Bank  -1 - GND
#NET  GND                       LOC = AA14; # Bank  -1 - GND
#NET  GND                       LOC =  AA2; # Bank  -1 - GND
#NET  GND                       LOC = AA24; # Bank  -1 - GND
#NET  GND                       LOC =  AA5; # Bank  -1 - GND
#NET  GND                       LOC =  AA6; # Bank  -1 - GND
#NET  GND                       LOC =  AA7; # Bank  -1 - GND
#NET  GND                       LOC = AB11; # Bank  -1 - GND
#NET  GND                       LOC = AB21; # Bank  -1 - GND
#NET  GND                       LOC =  AB3; # Bank  -1 - GND
#NET  GND                       LOC =  AB4; # Bank  -1 - GND
#NET  GND                       LOC = AC18; # Bank  -1 - GND
#NET  GND                       LOC = AC28; # Bank  -1 - GND
#NET  GND                       LOC =  AC8; # Bank  -1 - GND
#NET  GND                       LOC = AD15; # Bank  -1 - GND
#NET  GND                       LOC = AD25; # Bank  -1 - GND
#NET  GND                       LOC =  AD5; # Bank  -1 - GND
#NET  GND                       LOC = AE12; # Bank  -1 - GND
#NET  GND                       LOC =  AE2; # Bank  -1 - GND
#NET  GND                       LOC = AE22; # Bank  -1 - GND
#NET  GND                       LOC = AF19; # Bank  -1 - GND
#NET  GND                       LOC = AF29; # Bank  -1 - GND
#NET  GND                       LOC =  AF9; # Bank  -1 - GND
#NET  GND                       LOC = AG16; # Bank  -1 - GND
#NET  GND                       LOC = AG26; # Bank  -1 - GND
#NET  GND                       LOC =  AG6; # Bank  -1 - GND
#NET  GND                       LOC = AH13; # Bank  -1 - GND
#NET  GND                       LOC = AH23; # Bank  -1 - GND
#NET  GND                       LOC =  AH3; # Bank  -1 - GND
#NET  GND                       LOC = AJ10; # Bank  -1 - GND
#NET  GND                       LOC = AJ20; # Bank  -1 - GND
#NET  GND                       LOC = AJ30; # Bank  -1 - GND
#NET  GND                       LOC = AK17; # Bank  -1 - GND
#NET  GND                       LOC = AK27; # Bank  -1 - GND
#NET  GND                       LOC =  AK7; # Bank  -1 - GND
#NET  GND                       LOC =  B11; # Bank  -1 - GND
#NET  GND                       LOC =  B21; # Bank  -1 - GND
#NET  GND                       LOC =   B4; # Bank  -1 - GND
#NET  GND                       LOC =   B8; # Bank  -1 - GND
#NET  GND                       LOC =   B9; # Bank  -1 - GND
#NET  GND                       LOC =   C1; # Bank  -1 - GND
#NET  GND                       LOC =  C18; # Bank  -1 - GND
#NET  GND                       LOC =   C2; # Bank  -1 - GND
#NET  GND                       LOC =  C28; # Bank  -1 - GND
#NET  GND                       LOC =   C6; # Bank  -1 - GND
#NET  GND                       LOC =   C9; # Bank  -1 - GND
#NET  GND                       LOC =  D15; # Bank  -1 - GND
#NET  GND                       LOC =  D25; # Bank  -1 - GND
#NET  GND                       LOC =   D4; # Bank  -1 - GND
#NET  GND                       LOC =   D8; # Bank  -1 - GND
#NET  GND                       LOC =   D9; # Bank  -1 - GND
#NET  GND                       LOC =   E1; # Bank  -1 - GND
#NET  GND                       LOC =  E12; # Bank  -1 - GND
#NET  GND                       LOC =   E2; # Bank  -1 - GND
#NET  GND                       LOC =  E22; # Bank  -1 - GND
#NET  GND                       LOC =   E6; # Bank  -1 - GND
#NET  GND                       LOC =   E9; # Bank  -1 - GND
#NET  GND                       LOC =  F19; # Bank  -1 - GND
#NET  GND                       LOC =  F29; # Bank  -1 - GND
#NET  GND                       LOC =   F4; # Bank  -1 - GND
#NET  GND                       LOC =   F8; # Bank  -1 - GND
#NET  GND                       LOC =   F9; # Bank  -1 - GND
#NET  GND                       LOC =   G1; # Bank  -1 - GND
#NET  GND                       LOC =  G16; # Bank  -1 - GND
#NET  GND                       LOC =   G2; # Bank  -1 - GND
#NET  GND                       LOC =  G26; # Bank  -1 - GND
#NET  GND                       LOC =   G6; # Bank  -1 - GND
#NET  GND                       LOC =   G9; # Bank  -1 - GND
#NET  GND                       LOC =  H13; # Bank  -1 - GND
#NET  GND                       LOC =  H23; # Bank  -1 - GND
#NET  GND                       LOC =   H4; # Bank  -1 - GND
#NET  GND                       LOC =   H8; # Bank  -1 - GND
#NET  GND                       LOC =   H9; # Bank  -1 - GND
#NET  GND                       LOC =   J1; # Bank  -1 - GND
#NET  GND                       LOC =  J10; # Bank  -1 - GND
#NET  GND                       LOC =   J2; # Bank  -1 - GND
#NET  GND                       LOC =  J20; # Bank  -1 - GND
#NET  GND                       LOC =  J30; # Bank  -1 - GND
#NET  GND                       LOC =   J6; # Bank  -1 - GND
#NET  GND                       LOC =   J9; # Bank  -1 - GND
#NET  GND                       LOC =  K17; # Bank  -1 - GND
#NET  GND                       LOC =  K27; # Bank  -1 - GND
#NET  GND                       LOC =   K4; # Bank  -1 - GND
#NET  GND                       LOC =   K8; # Bank  -1 - GND
#NET  GND                       LOC =   K9; # Bank  -1 - GND
#NET  GND                       LOC =   L1; # Bank  -1 - GND
#NET  GND                       LOC =  L14; # Bank  -1 - GND
#NET  GND                       LOC =   L2; # Bank  -1 - GND
#NET  GND                       LOC =  L24; # Bank  -1 - GND
#NET  GND                       LOC =   L6; # Bank  -1 - GND
#NET  GND                       LOC =   L9; # Bank  -1 - GND
#NET  GND                       LOC =  M12; # Bank  -1 - GND
#NET  GND                       LOC =  M14; # Bank  -1 - GND
#NET  GND                       LOC =  M16; # Bank  -1 - GND
#NET  GND                       LOC =  M18; # Bank  -1 - GND
#NET  GND                       LOC =  M21; # Bank  -1 - GND
#NET  GND                       LOC =   M4; # Bank  -1 - GND
#NET  GND                       LOC =   M8; # Bank  -1 - GND
#NET  GND                       LOC =   M9; # Bank  -1 - GND
#NET  GND                       LOC =   N1; # Bank  -1 - GND
#NET  GND                       LOC =  N11; # Bank  -1 - GND
#NET  GND                       LOC =  N13; # Bank  -1 - GND
#NET  GND                       LOC =  N15; # Bank  -1 - GND
#NET  GND                       LOC =  N17; # Bank  -1 - GND
#NET  GND                       LOC =   N2; # Bank  -1 - GND
#NET  GND                       LOC =  N28; # Bank  -1 - GND
#NET  GND                       LOC =   N6; # Bank  -1 - GND
#NET  GND                       LOC =   N9; # Bank  -1 - GND
#NET  GND                       LOC =  P10; # Bank  -1 - GND
#NET  GND                       LOC =  P12; # Bank  -1 - GND
#NET  GND                       LOC =  P16; # Bank  -1 - GND
#NET  GND                       LOC =  P18; # Bank  -1 - GND
#NET  GND                       LOC =  P25; # Bank  -1 - GND
#NET  GND                       LOC =   P4; # Bank  -1 - GND
#NET  GND                       LOC =   P8; # Bank  -1 - GND
#NET  GND                       LOC =   P9; # Bank  -1 - GND
#NET  GND                       LOC =   R1; # Bank  -1 - GND
#NET  GND                       LOC =  R11; # Bank  -1 - GND
#NET  GND                       LOC =  R13; # Bank  -1 - GND
#NET  GND                       LOC =  R17; # Bank  -1 - GND
#NET  GND                       LOC =   R2; # Bank  -1 - GND
#NET  GND                       LOC =  R22; # Bank  -1 - GND
#NET  GND                       LOC =   R6; # Bank  -1 - GND
#NET  GND                       LOC =   R9; # Bank  -1 - GND
#NET  GND                       LOC =  T10; # Bank  -1 - GND
#NET  GND                       LOC =  T12; # Bank  -1 - GND
#NET  GND                       LOC =  T16; # Bank  -1 - GND
#NET  GND                       LOC =  T18; # Bank  -1 - GND
#NET  GND                       LOC =  T19; # Bank  -1 - GND
#NET  GND                       LOC =  T29; # Bank  -1 - GND
#NET  GND                       LOC =   T4; # Bank  -1 - GND
#NET  GND                       LOC =   T8; # Bank  -1 - GND
#NET  GND                       LOC =   U1; # Bank  -1 - GND
#NET  GND                       LOC =  U11; # Bank  -1 - GND
#NET  GND                       LOC =  U13; # Bank  -1 - GND
#NET  GND                       LOC =  U17; # Bank  -1 - GND
#NET  GND                       LOC =   U2; # Bank  -1 - GND
#NET  GND                       LOC =  U26; # Bank  -1 - GND
#NET  GND                       LOC =   U6; # Bank  -1 - GND
#NET  GND                       LOC =   U9; # Bank  -1 - GND
#NET  GND                       LOC =  V10; # Bank  -1 - GND
#NET  GND                       LOC =  V12; # Bank  -1 - GND
#NET  GND                       LOC =  V14; # Bank  -1 - GND
#NET  GND                       LOC =  V16; # Bank  -1 - GND
#NET  GND                       LOC =  V18; # Bank  -1 - GND
#NET  GND                       LOC =  V23; # Bank  -1 - GND
#NET  GND                       LOC =   V4; # Bank  -1 - GND
#NET  GND                       LOC =   V8; # Bank  -1 - GND
#NET  GND                       LOC =   V9; # Bank  -1 - GND
#NET  GND                       LOC =   W1; # Bank  -1 - GND
#NET  GND                       LOC =  W11; # Bank  -1 - GND
#NET  GND                       LOC =  W13; # Bank  -1 - GND
#NET  GND                       LOC =  W15; # Bank  -1 - GND
#NET  GND                       LOC =  W17; # Bank  -1 - GND
#NET  GND                       LOC =   W2; # Bank  -1 - GND
#NET  GND                       LOC =  W20; # Bank  -1 - GND
#NET  GND                       LOC =  W30; # Bank  -1 - GND
#NET  GND                       LOC =   W6; # Bank  -1 - GND
#NET  GND                       LOC =   W9; # Bank  -1 - GND
#NET  GND                       LOC =  Y17; # Bank  -1 - GND
#NET  GND                       LOC =  Y27; # Bank  -1 - GND
#NET  GND                       LOC =   Y3; # Bank  -1 - GND
#NET  GND                       LOC =   Y4; # Bank  -1 - GND
#NET  GND                       LOC =   Y7; # Bank  -1 - GND
#NET  GND                       LOC =   Y8; # Bank  -1 - GND
#NET  GND                       LOC =   Y9; # Bank  -1 - GND
#NET  VCCINT_FPGA               LOC =  M11; # Bank  -1 - VCCINT
#NET  VCCINT_FPGA               LOC =  M13; # Bank  -1 - VCCINT
#NET  VCCINT_FPGA               LOC =  M15; # Bank  -1 - VCCINT
#NET  VCCINT_FPGA               LOC =  M17; # Bank  -1 - VCCINT
#NET  VCCINT_FPGA               LOC =  N10; # Bank  -1 - VCCINT
#NET  VCCINT_FPGA               LOC =  N12; # Bank  -1 - VCCINT
#NET  VCCINT_FPGA               LOC =  N14; # Bank  -1 - VCCINT
#NET  VCCINT_FPGA               LOC =  N18; # Bank  -1 - VCCINT
#NET  VCCINT_FPGA               LOC =  P11; # Bank  -1 - VCCINT
#NET  VCCINT_FPGA               LOC =  P17; # Bank  -1 - VCCINT
#NET  VCCINT_FPGA               LOC =  R10; # Bank  -1 - VCCINT
#NET  VCCINT_FPGA               LOC =  R12; # Bank  -1 - VCCINT
#NET  VCCINT_FPGA               LOC =  R18; # Bank  -1 - VCCINT
#NET  VCCINT_FPGA               LOC =  T11; # Bank  -1 - VCCINT
#NET  VCCINT_FPGA               LOC =  T17; # Bank  -1 - VCCINT
#NET  VCCINT_FPGA               LOC =  U10; # Bank  -1 - VCCINT
#NET  VCCINT_FPGA               LOC =  U12; # Bank  -1 - VCCINT
#NET  VCCINT_FPGA               LOC =  U18; # Bank  -1 - VCCINT
#NET  VCCINT_FPGA               LOC =  V17; # Bank  -1 - VCCINT
#NET  VCCINT_FPGA               LOC =  W18; # Bank  -1 - VCCINT
#NET  VCCAUX                    LOC =  P13; # Bank  -1 - VCCAUX
#NET  VCCAUX                    LOC =  T13; # Bank  -1 - VCCAUX
#NET  VCCAUX                    LOC =  V13; # Bank  -1 - VCCAUX
#NET  VCCAUX                    LOC =  V15; # Bank  -1 - VCCAUX
#NET  VCCAUX                    LOC =  W14; # Bank  -1 - VCCAUX
#NET  VCCAUX_IO                 LOC =  W12; # Bank  -1 - VCCAUX_IO_G0
#NET  VCCAUX_IO                 LOC =  V11; # Bank  -1 - VCCAUX_IO_G0
#NET  VCCAUX_IO                 LOC =  W10; # Bank  -1 - VCCAUX_IO_G0
#NET  VCC1V5_FPGA               LOC = AA19; # Bank  32 - VCCO_32
#NET  VCC1V5_FPGA               LOC = AB16; # Bank  32 - VCCO_32
#NET  VCC1V5_FPGA               LOC = AE17; # Bank  32 - VCCO_32
#NET  VCC1V5_FPGA               LOC = AF14; # Bank  32 - VCCO_32
#NET  VCC1V5_FPGA               LOC = AH18; # Bank  32 - VCCO_32
#NET  VCC1V5_FPGA               LOC = AJ15; # Bank  32 - VCCO_32
#NET  VCC1V5_FPGA               LOC =  AA9; # Bank  33 - VCCO_33
#NET  VCC1V5_FPGA               LOC = AC13; # Bank  33 - VCCO_33
#NET  VCC1V5_FPGA               LOC = AD10; # Bank  33 - VCCO_33
#NET  VCC1V5_FPGA               LOC = AG11; # Bank  33 - VCCO_33
#NET  VCC1V5_FPGA               LOC = AK12; # Bank  33 - VCCO_33
#NET  VCC1V5_FPGA               LOC =  Y12; # Bank  33 - VCCO_33
#NET  VCC1V5_FPGA               LOC =  AC3; # Bank  34 - VCCO_34
#NET  VCC1V5_FPGA               LOC =  AE7; # Bank  34 - VCCO_34
#NET  VCC1V5_FPGA               LOC =  AF4; # Bank  34 - VCCO_34
#NET  VCC1V5_FPGA               LOC =  AG1; # Bank  34 - VCCO_34
#NET  VCC1V5_FPGA               LOC =  AH8; # Bank  34 - VCCO_34
#NET  VCC1V5_FPGA               LOC =  AJ5; # Bank  34 - VCCO_34
#NET  VCC1V5_FPGA               LOC =  AK2; # Bank  34 - VCCO_34
#NET  VADJ_FPGA                 LOC = AC23; # Bank  12 - VCCO_12
#NET  VADJ_FPGA                 LOC = AD20; # Bank  12 - VCCO_12
#NET  VADJ_FPGA                 LOC = AF24; # Bank  12 - VCCO_12
#NET  VADJ_FPGA                 LOC = AG21; # Bank  12 - VCCO_12
#NET  VADJ_FPGA                 LOC = AK22; # Bank  12 - VCCO_12
#NET  VADJ_FPGA                 LOC =  Y22; # Bank  12 - VCCO_12
#NET  VADJ_FPGA                 LOC = AA29; # Bank  13 - VCCO_13
#NET  VADJ_FPGA                 LOC = AB26; # Bank  13 - VCCO_13
#NET  VADJ_FPGA                 LOC = AD30; # Bank  13 - VCCO_13
#NET  VADJ_FPGA                 LOC = AE27; # Bank  13 - VCCO_13
#NET  VADJ_FPGA                 LOC = AH28; # Bank  13 - VCCO_13
#NET  VADJ_FPGA                 LOC = AJ25; # Bank  13 - VCCO_13
#NET  VCC2V5_FPGA               LOC =  P30; # Bank  14 - VCCO_14
#NET  VCC2V5_FPGA               LOC =  R27; # Bank  14 - VCCO_14
#NET  VCC2V5_FPGA               LOC =  T24; # Bank  14 - VCCO_14
#NET  VCC2V5_FPGA               LOC =  U21; # Bank  14 - VCCO_14
#NET  VCC2V5_FPGA               LOC =  V28; # Bank  14 - VCCO_14
#NET  VCC2V5_FPGA               LOC =  W25; # Bank  14 - VCCO_14
#NET  VCC2V5_FPGA               LOC =  J25; # Bank  15 - VCCO_15
#NET  VCC2V5_FPGA               LOC =  K22; # Bank  15 - VCCO_15
#NET  VCC2V5_FPGA               LOC =  L29; # Bank  15 - VCCO_15
#NET  VCC2V5_FPGA               LOC =  M26; # Bank  15 - VCCO_15
#NET  VCC2V5_FPGA               LOC =  N23; # Bank  15 - VCCO_15
#NET  VCC2V5_FPGA               LOC =  P20; # Bank  15 - VCCO_15
#NET  VADJ_FPGA                 LOC =  A29; # Bank  16 - VCCO_16
#NET  VADJ_FPGA                 LOC =  B26; # Bank  16 - VCCO_16
#NET  VADJ_FPGA                 LOC =  C23; # Bank  16 - VCCO_16
#NET  VADJ_FPGA                 LOC =  D30; # Bank  16 - VCCO_16
#NET  VADJ_FPGA                 LOC =  E27; # Bank  16 - VCCO_16
#NET  VADJ_FPGA                 LOC =  F24; # Bank  16 - VCCO_16
#NET  VADJ_FPGA                 LOC =  H28; # Bank  16 - VCCO_16
#NET  VADJ_FPGA                 LOC =  A19; # Bank  17 - VCCO_17
#NET  VADJ_FPGA                 LOC =  B16; # Bank  17 - VCCO_17
#NET  VADJ_FPGA                 LOC =  D20; # Bank  17 - VCCO_17
#NET  VADJ_FPGA                 LOC =  E17; # Bank  17 - VCCO_17
#NET  VADJ_FPGA                 LOC =  G21; # Bank  17 - VCCO_17
#NET  VADJ_FPGA                 LOC =  H18; # Bank  17 - VCCO_17
#NET  VADJ_FPGA                 LOC =  L19; # Bank  17 - VCCO_17
#NET  VADJ_FPGA                 LOC =  C13; # Bank  18 - VCCO_18
#NET  VADJ_FPGA                 LOC =  D10; # Bank  18 - VCCO_18
#NET  VADJ_FPGA                 LOC =  F14; # Bank  18 - VCCO_18
#NET  VADJ_FPGA                 LOC =  G11; # Bank  18 - VCCO_18
#NET  VADJ_FPGA                 LOC =  J15; # Bank  18 - VCCO_18
#NET  VADJ_FPGA                 LOC =  K12; # Bank  18 - VCCO_18
#NET  VCC2V5_FPGA               LOC =  AB6; # Bank   0 - VCCO_0
#NET  VCC2V5_FPGA               LOC =   T9; # Bank   0 - VCCO_0
