## KC705 UCF
## Shepard Siegel for Atomic Rules LLC
## 2011-03-22 Creation
## 2011-09-27 Edit for first KC705 arrival

CONFIG PART = XC7K325T-FFG900-1 ;

# 200 MHz XTAL...
#NET  SYSCLK_P                  LOC = AD12 | IOSTANDARD=LVDS;     # Bank  33 VCCO - VCC1V5_FPGA - IO_L12P_T1_MRCC_33
#NET  SYSCLK_N                  LOC = AD11 | IOSTANDARD=LVDS;     # Bank  33 VCCO - VCC1V5_FPGA - IO_L12N_T1_MRCC_33
NET  "sys0_clkp"     LOC = AD12 | IOSTANDARD = LVDS;
NET  "sys0_clkn"     LOC = AD11 | IOSTANDARD = LVDS;

# User Clock...
#NET  USER_CLOCK_P              LOC = K28  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L13P_T2_MRCC_15
#NET  USER_CLOCK_N              LOC = K29  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L13N_T2_MRCC_15
NET  "sys1_clkp"     LOC = K28 | IOSTANDARD = LVCMOS25;
NET  "sys1_clkn"     LOC = K29 | IOSTANDARD = LVCMOS25;


# PCIe... 
#NET  PCIE_CLK_QO_P             LOC = U8                        ; # Bank 115                 - MGTREFCLK1P_115
#NET  PCIE_CLK_QO_N             LOC = U7                        ; # Bank 115                 - MGTREFCLK1N_115
#NET  PCIE_WAKE_B_LS            LOC =  F23; # Bank  16 - IO_0_16
#NET  PCIE_PERST_LS             LOC =  G25; # Bank  16 - IO_25_16
NET  "pci0_clkp"     LOC = U8;  # 100 MHz direct from PCIe edge   
NET  "pci0_clkn"     LOC = U7;
NET  "pci0_reset_n"  LOC = G25 | IOSTANDARD = LVCMOS18;

# LEDs and Switches...
#NET  GPIO_LED_0_LS             LOC = AB8  | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L2N_T0_33
#NET  GPIO_LED_1_LS             LOC = AA8  | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L2P_T0_33
#NET  GPIO_LED_2_LS             LOC = AC9  | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L3N_T0_DQS_33
#NET  GPIO_LED_3_LS             LOC = AB9  | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L3P_T0_DQS_33
#NET  GPIO_LED_4_LS             LOC = AE26 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_25_13
#NET  GPIO_LED_5_LS             LOC = G19  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_0_17
#NET  GPIO_LED_6_LS             LOC = E18  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_25_17
#NET  GPIO_LED_7_LS             LOC = F16  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_25_18
#NET  GPIO_DIP_SW0              LOC = Y29  | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L4N_T0_13
#NET  GPIO_DIP_SW1              LOC = W29  | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L4P_T0_13
#NET  GPIO_DIP_SW2              LOC = AA28 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L3N_T0_DQS_13
#NET  GPIO_DIP_SW3              LOC = Y28  | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L3P_T0_DQS_13
#NET  GPIO_SW_N                 LOC = AA12 | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L1P_T0_33
#NET  GPIO_SW_S                 LOC = AB12 | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L1N_T0_33
#NET  GPIO_SW_E                 LOC = AG5  | IOSTANDARD=LVCMOS15; # Bank  34 VCCO - VCC1V5_FPGA - IO_L12N_T1_MRCC_34
#NET  GPIO_SW_W                 LOC = AC6  | IOSTANDARD=LVCMOS15; # Bank  34 VCCO - VCC1V5_FPGA - IO_0_VRN_34
#NET  GPIO_SW_C                 LOC = G12  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_0_18
#NET  LCD_E_LS                  LOC = AB10 | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L7P_T1_33
#NET  LCD_RS_LS                 LOC = Y11  | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L4P_T0_33
#NET  LCD_RW_LS                 LOC = AB13 | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L6N_T0_VREF_33
#NET  LCD_DB4_LS                LOC = AA13 | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L6P_T0_33
#NET  LCD_DB5_LS                LOC = AA10 | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L5N_T0_33
#NET  LCD_DB6_LS                LOC = AA11 | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L5P_T0_33
#NET  LCD_DB7_LS                LOC = Y10  | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L4N_T0_33
NET "led[0]"     LOC = AB8  | IOSTANDARD = LVCMOS15; ## User D0
NET "led[1]"     LOC = AA8  | IOSTANDARD = LVCMOS15; ## User D1
NET "led[2]"     LOC = AC9  | IOSTANDARD = LVCMOS15; ## User D2
NET "led[3]"     LOC = AB9  | IOSTANDARD = LVCMOS15; ## User D3
NET "led[4]"     LOC = AE26 | IOSTANDARD = LVCMOS15; ## User D4
NET "led[5]"     LOC = G19  | IOSTANDARD = LVCMOS15; ## User D5
NET "led[6]"     LOC = E18  | IOSTANDARD = LVCMOS15; ## User D6
NET "led[7]"     LOC = F16  | IOSTANDARD = LVCMOS15; ## User D7
NET  "lcd_db[3]" LOC = AE12 | IOSTANDARD = LVCMOS15;
NET  "lcd_db[2]" LOC = AJ11 | IOSTANDARD = LVCMOS15;
NET  "lcd_db[1]" LOC = AK11 | IOSTANDARD = LVCMOS15;
NET  "lcd_db[0]" LOC = AD14 | IOSTANDARD = LVCMOS15;
NET  "lcd_e"     LOC = AK12 | IOSTANDARD = LVCMOS15;
NET  "lcd_rs"    LOC = T28  | IOSTANDARD = LVCMOS15;
NET  "lcd_rw"    LOC = AC14 | IOSTANDARD = LVCMOS15;


# Timing Constraints...
NET "sys0_clkp"      TNM_NET = "SYS0CLK";  # 200 MHz sys0 XO
TIMESPEC "TS_SYS0CLK" = PERIOD "SYS0CLK"     200 MHz HIGH 50 % ;

