## NETFPGA-10G / TX240 UCF / NF10
## 2009-10-22 ssiegel Delta from ML555 taken
## 2009-11-16 ssiegel Comment out BRAM LOCs for OCDP
## 2010-01-20 ssiegel TXT240 Changes
## 2010-06-07 ssiegel TXT240 LED changes from Paul
## 2010-11-01 ssiegel Fork from TX240
## 2010-12-29 ssiegel PCIe clock and reset pin name change

CONFIG PART = XC5VTX240T-FF1759-2;

# From schematic...
#NET "usr_sprclk_n"      LOC = "AM26" ;                              # CONFIGURABLE CLK FROM X2
#NET "usr_sprclk_p"      LOC = "AL26" ;                              # CONFIGURABLE CLK FROM X2
#NET "usr_osc2_clk"      LOC = "AL25" | IOSTANDARD = LVCMOS33;       # SOCKETABLE CLK X4
#NET "usr_osc1_clk"      LOC = "AN20" | IOSTANDARD = LVCMOS33;       # SOCKETABLE CLK X3
#NET "usr_25mhz"         LOC = "AJ25" | IOSTANDARD = LVCMOS33;       # 25MHZ CLOCK
#NET "sysclk"            LOC = "AN25" | IOSTANDARD = LVCMOS33;       # 100MHZ CLOCK


# Check OSC Frequency, is likely not 200 MHz...
#NET  "sys0_clkp"      LOC = AL26;  # CONFIGURABLE CLK FROM X2
#NET  "sys0_clkn"      LOC = AM26;  # CONFIGURABLE CLK FROM X2

NET  "pcie_clkp"     LOC = AT4;
NET  "pcie_clkn"     LOC = AT3;
INST "oped/oped/pciw_pci0_clk"  DIFF_TERM = "TRUE";
NET  "pcie_rstn"     LOC = AL24 | IOSTANDARD = LVCMOS25 | PULLUP | NODELAY ;
INST "oped/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[0].GT_i" LOC = GTX_DUAL_X1Y5;
INST "oped/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[2].GT_i" LOC = GTX_DUAL_X1Y4;
INST "oped/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[4].GT_i" LOC = GTX_DUAL_X1Y3;
INST "oped/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[6].GT_i" LOC = GTX_DUAL_X1Y2;

# BlockRAM placement...
INST "oped/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_retry/generate_sdp.ram_sdp_inst"      LOC = RAMB36_X5Y20 ;
INST "oped/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_tx/generate_tdp2[1].ram_tdp2_inst" LOC = RAMB36_X5Y19 ;
INST "oped/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_rx/generate_tdp2[1].ram_tdp2_inst" LOC = RAMB36_X5Y18 ;
INST "oped/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_tx/generate_tdp2[0].ram_tdp2_inst" LOC = RAMB36_X5Y17 ;
INST "oped/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_rx/generate_tdp2[0].ram_tdp2_inst" LOC = RAMB36_X5Y16 ;


# Timing Constraints...
NET "oped/oped/pciw_pci0_clk_O" PERIOD = 10ns;
NET "oped/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/gt_refclk_out[0]" TNM_NET = "PCI0CLK";
TIMESPEC "TS_PCI0CLK"  = PERIOD "PCI0CLK" 100.00 MHz HIGH 50 % ;

#PIN "oped/oped/pci_pcie_ep/ep/trn_reset_n_int_i.CLR" TIG ;
#PIN "oped/oped/pci_pcie_ep/ep/trn_reset_n_i.CLR" TIG ;
#PIN "oped/oped/pci_pcie_ep/ep/pcie_clocking_i/mmcm_adv_i.RST" TIG ;

