NET  SFP_TX_DISABLE            LOC = Y20  | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_0_12
NET  USER_SMA_GPIO_P           LOC = Y23  | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L1P_T0_12
NET  USER_SMA_GPIO_N           LOC = Y24  | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L1N_T0_12
NET  SDIO_SDWP                 LOC = Y21  | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L2P_T0_12
NET  SDIO_SDDET                LOC = AA21 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L2N_T0_12
NET  SDIO_CMD_LS               LOC = AB22 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L3P_T0_DQS_12
NET  SDIO_CLK_LS               LOC = AB23 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L3N_T0_DQS_12
NET  SDIO_DAT2_LS              LOC = AA22 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L4P_T0_12
NET  SDIO_DAT1_LS              LOC = AA23 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L4N_T0_12
NET  SDIO_DAT0_LS              LOC = AC20 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L5P_T0_12
NET  SDIO_CD_DAT3_LS           LOC = AC21 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L5N_T0_12
NET  FMC_LPC_LA12_P            LOC = AA20 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L6P_T0_12
NET  FMC_LPC_LA12_N            LOC = AB20 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L6N_T0_VREF_12
NET  FMC_LPC_LA13_P            LOC = AB24 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L7P_T1_12
NET  FMC_LPC_LA13_N            LOC = AC25 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L7N_T1_12
NET  FMC_LPC_LA16_P            LOC = AC22 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L8P_T1_12
NET  FMC_LPC_LA16_N            LOC = AD22 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L8N_T1_12
NET  FMC_LPC_LA15_P            LOC = AC24 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L9P_T1_DQS_12
NET  FMC_LPC_LA15_N            LOC = AD24 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L9N_T1_DQS_12
NET  FMC_LPC_LA14_P            LOC = AD21 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L10P_T1_12
NET  FMC_LPC_LA14_N            LOC = AE21 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L10N_T1_12
NET  FMC_LPC_LA01_CC_P         LOC = AE23 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L11P_T1_SRCC_12
NET  FMC_LPC_LA01_CC_N         LOC = AF23 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L11N_T1_SRCC_12
NET  FMC_LPC_LA00_CC_P         LOC = AD23 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L12P_T1_MRCC_12
NET  FMC_LPC_LA00_CC_N         LOC = AE24 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L12N_T1_MRCC_12
NET  FMC_LPC_CLK0_M2C_P        LOC = AF22 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L13P_T2_MRCC_12
NET  FMC_LPC_CLK0_M2C_N        LOC = AG23 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L13N_T2_MRCC_12
NET  SI5326_INT_ALM_LS         LOC = AG24 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L14P_T2_SRCC_12
NET  HDMI_INT                  LOC = AH24 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L14N_T2_SRCC_12
NET  FMC_LPC_LA10_P            LOC = AJ24 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L15P_T2_DQS_12
NET  FMC_LPC_LA10_N            LOC = AK25 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L15N_T2_DQS_12
NET  FMC_LPC_LA11_P            LOC = AE25 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L16P_T2_12
NET  FMC_LPC_LA11_N            LOC = AF25 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L16N_T2_12
NET  FMC_LPC_LA09_P            LOC = AK23 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L17P_T2_12
NET  FMC_LPC_LA09_N            LOC = AK24 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L17N_T2_12
NET  FMC_LPC_LA07_P            LOC = AG25 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L18P_T2_12
NET  FMC_LPC_LA07_N            LOC = AH25 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L18N_T2_12
NET  FMC_LPC_LA02_P            LOC = AF20 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L19P_T3_12
NET  FMC_LPC_LA02_N            LOC = AF21 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L19N_T3_VREF_12
NET  FMC_LPC_LA05_P            LOC = AG22 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L20P_T3_12
NET  FMC_LPC_LA05_N            LOC = AH22 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L20N_T3_12
NET  FMC_LPC_LA08_P            LOC = AJ22 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L21P_T3_DQS_12
NET  FMC_LPC_LA08_N            LOC = AJ23 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L21N_T3_DQS_12
NET  FMC_LPC_LA03_P            LOC = AG20 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L22P_T3_12
NET  FMC_LPC_LA03_N            LOC = AH20 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L22N_T3_12
NET  FMC_LPC_LA04_P            LOC = AH21 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L23P_T3_12
NET  FMC_LPC_LA04_N            LOC = AJ21 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L23N_T3_12
NET  FMC_LPC_LA06_P            LOC = AK20 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L24P_T3_12
NET  FMC_LPC_LA06_N            LOC = AK21 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_L24N_T3_12
NET  SI5326_RST_LS             LOC = AE20 | IOSTANDARD=LVCMOS18; # Bank  12 VCCO - VADJ_FPGA - IO_25_12
NET  ROTARY_INCB               LOC = Y25  | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_0_13
NET  ROTARY_INCA               LOC = Y26  | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L1P_T0_13
NET  ROTARY_PUSH               LOC = AA26 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L1N_T0_13
NET  REC_CLOCK_C_P             LOC = W27  | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L2P_T0_13
NET  REC_CLOCK_C_N             LOC = W28  | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L2N_T0_13
NET  GPIO_DIP_SW3              LOC = Y28  | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L3P_T0_DQS_13
NET  GPIO_DIP_SW2              LOC = AA28 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L3N_T0_DQS_13
NET  GPIO_DIP_SW1              LOC = W29  | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L4P_T0_13
NET  GPIO_DIP_SW0              LOC = Y29  | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L4N_T0_13
NET  XADC_GPIO_3               LOC = AA27 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L5P_T0_13
NET  XADC_GPIO_2               LOC = AB28 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L5N_T0_13
NET  XADC_GPIO_1               LOC = AA25 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L6P_T0_13
NET  XADC_GPIO_0               LOC = AB25 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L6N_T0_VREF_13
NET  FMC_LPC_LA33_P            LOC = AC29 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L7P_T1_13
NET  FMC_LPC_LA33_N            LOC = AC30 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L7N_T1_13
NET  FMC_LPC_LA32_P            LOC = Y30  | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L8P_T1_13
NET  FMC_LPC_LA32_N            LOC = AA30 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L8N_T1_13
NET  FMC_LPC_LA31_P            LOC = AD29 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L9P_T1_DQS_13
NET  FMC_LPC_LA31_N            LOC = AE29 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L9N_T1_DQS_13
NET  FMC_LPC_LA30_P            LOC = AB29 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L10P_T1_13
NET  FMC_LPC_LA30_N            LOC = AB30 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L10N_T1_13
NET  FMC_LPC_LA18_CC_P         LOC = AD27 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L11P_T1_SRCC_13
NET  FMC_LPC_LA18_CC_N         LOC = AD28 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L11N_T1_SRCC_13
NET  FMC_LPC_LA17_CC_P         LOC = AB27 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L12P_T1_MRCC_13
NET  FMC_LPC_LA17_CC_N         LOC = AC27 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L12N_T1_MRCC_13
NET  FMC_LPC_CLK1_M2C_P        LOC = AG29 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L13P_T2_MRCC_13
NET  FMC_LPC_CLK1_M2C_N        LOC = AH29 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L13N_T2_MRCC_13
NET  FMC_LPC_LA29_P            LOC = AE28 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L14P_T2_SRCC_13
NET  FMC_LPC_LA29_N            LOC = AF28 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L14N_T2_SRCC_13
NET  FMC_LPC_LA26_P            LOC = AK29 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L15P_T2_DQS_13
NET  FMC_LPC_LA26_N            LOC = AK30 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L15N_T2_DQS_13
NET  FMC_LPC_LA28_P            LOC = AE30 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L16P_T2_13
NET  FMC_LPC_LA28_N            LOC = AF30 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L16N_T2_13
NET  FMC_LPC_LA27_P            LOC = AJ28 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L17P_T2_13
NET  FMC_LPC_LA27_N            LOC = AJ29 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L17N_T2_13
NET  FMC_LPC_LA24_P            LOC = AG30 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L18P_T2_13
NET  FMC_LPC_LA24_N            LOC = AH30 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L18N_T2_13
NET  FMC_LPC_LA25_P            LOC = AC26 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L19P_T3_13
NET  FMC_LPC_LA25_N            LOC = AD26 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L19N_T3_VREF_13
NET  FMC_LPC_LA22_P            LOC = AJ27 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L20P_T3_13
NET  FMC_LPC_LA22_N            LOC = AK28 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L20N_T3_13
NET  FMC_LPC_LA21_P            LOC = AG27 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L21P_T3_DQS_13
NET  FMC_LPC_LA21_N            LOC = AG28 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L21N_T3_DQS_13
NET  FMC_LPC_LA23_P            LOC = AH26 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L22P_T3_13
NET  FMC_LPC_LA23_N            LOC = AH27 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L22N_T3_13
NET  FMC_LPC_LA20_P            LOC = AF26 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L23P_T3_13
NET  FMC_LPC_LA20_N            LOC = AF27 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L23N_T3_13
NET  FMC_LPC_LA19_P            LOC = AJ26 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L24P_T3_13
NET  FMC_LPC_LA19_N            LOC = AK26 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_L24N_T3_13
NET  GPIO_LED_4_LS             LOC = AE26 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VADJ_FPGA - IO_25_13
NET  PHY_RXD4                  LOC = R19  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_0_14
NET  FLASH_D0                  LOC = P24  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L1P_T0_D00_MOSI_14
NET  FLASH_D1                  LOC = R25  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L1N_T0_D01_DIN_14
NET  FLASH_D2                  LOC = R20  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L2P_T0_D02_14
NET  FLASH_D3                  LOC = R21  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L2N_T0_D03_14
NET  PHY_MDC                   LOC = R23  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L3P_T0_DQS_PUDC_B_14
NET  FPGA_EMCCLK               LOC = R24  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L3N_T0_DQS_EMCCLK_14
NET  FLASH_D4                  LOC = T20  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L4P_T0_D04_14
NET  FLASH_D5                  LOC = T21  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L4N_T0_D05_14
NET  FLASH_D6                  LOC = T22  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L5P_T0_D06_14
NET  FLASH_D7                  LOC = T23  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L5N_T0_D07_14
NET  FPGA_FCS                  LOC = U19  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L6P_T0_FCS_B_14
NET  FLASH_D8                  LOC = U20  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L6N_T0_D08_VREF_14
NET  FLASH_D9                  LOC = P29  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L7P_T1_D09_14
NET  FLASH_D10                 LOC = R29  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L7N_T1_D10_14
NET  FLASH_D11                 LOC = P27  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L8P_T1_D11_14
NET  FLASH_D12                 LOC = P28  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L8N_T1_D12_14
NET  PHY_CRS                   LOC = R30  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L9P_T1_DQS_14
NET  FLASH_D13                 LOC = T30  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L9N_T1_DQS_D13_14
NET  FLASH_D14                 LOC = P26  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L10P_T1_D14_14
NET  FLASH_D15                 LOC = R26  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L10N_T1_D15_14
NET  PHY_RXCTL_RXDV            LOC = R28  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L11P_T1_SRCC_14
NET  PHY_RXD7                  LOC = T28  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L11N_T1_SRCC_14
NET  PHY_RXD6                  LOC = T26  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L12P_T1_MRCC_14
NET  PHY_RXD5                  LOC = T27  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L12N_T1_MRCC_14
NET  PHY_RXCLK                 LOC = U27  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L13P_T2_MRCC_14
NET  PHY_RXD3                  LOC = U28  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L13N_T2_MRCC_14
NET  PHY_RXD2                  LOC = T25  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L14P_T2_SRCC_14
NET  PHY_RXD1                  LOC = U25  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L14N_T2_SRCC_14
NET  FLASH_WAIT                LOC = U29  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L15P_T2_DQS_RDWR_B_14
NET  PHY_RXD0                  LOC = U30  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L15N_T2_DQS_DOUT_CSO_B_14
NET  PHY_RXER                  LOC = V26  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L16P_T2_CSI_B_14
NET  FLASH_A15                 LOC = V27  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L16N_T2_A15_D31_14
NET  FLASH_A14                 LOC = V29  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L17P_T2_A14_D30_14
NET  FLASH_A13                 LOC = V30  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L17N_T2_A13_D29_14
NET  FLASH_A12                 LOC = V25  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L18P_T2_A12_D28_14
NET  FLASH_A11                 LOC = W26  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L18N_T2_A11_D27_14
NET  FLASH_A10                 LOC = V19  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L19P_T3_A10_D26_14
NET  FLASH_A9                  LOC = V20  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L19N_T3_A09_D25_VREF_14
NET  FLASH_A8                  LOC = W23  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L20P_T3_A08_D24_14
NET  FLASH_A7                  LOC = W24  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L20N_T3_A07_D23_14
NET  SM_FAN_TACH               LOC = U22  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L21P_T3_DQS_14
NET  FLASH_A6                  LOC = U23  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L21N_T3_DQS_A06_D22_14
NET  FLASH_A5                  LOC = V21  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L22P_T3_A05_D21_14
NET  FLASH_A4                  LOC = V22  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L22N_T3_A04_D20_14
NET  FLASH_A3                  LOC = U24  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L23P_T3_A03_D19_14
NET  FLASH_A2                  LOC = V24  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L23N_T3_A02_D18_14
NET  FLASH_A1                  LOC = W21  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L24P_T3_A01_D17_14
NET  FLASH_A0                  LOC = W22  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_L24N_T3_A00_D16_14
NET  PHY_COL                   LOC = W19  | IOSTANDARD=LVCMOS25; # Bank  14 VCCO - VCC2V5_FPGA - IO_25_14
NET  USB_TX                    LOC = M19  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_0_15
NET  XADC_VAUX0P_R             LOC = J23  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L1P_T0_AD0P_15
NET  XADC_VAUX0N_R             LOC = J24  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L1N_T0_AD0N_15
NET  XADC_VAUX8P_R             LOC = L22  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L2P_T0_AD8P_15
NET  XADC_VAUX8N_R             LOC = L23  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L2N_T0_AD8N_15
NET  USB_RTS                   LOC = K23  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L3P_T0_DQS_AD1P_15
NET  USB_RX                    LOC = K24  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L3N_T0_DQS_AD1N_15
NET  IIC_SDA_MAIN              LOC = L21  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L4P_T0_AD9P_15
NET  IIC_SCL_MAIN              LOC = K21  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L4N_T0_AD9N_15
NET  PHY_MDIO                  LOC = J21  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L5P_T0_AD2P_15
NET  FMC_LPC_PRSNT_M2C_B_LS    LOC = J22  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L5N_T0_AD2N_15
NET  FMC_HPC_PRSNT_M2C_B_LS    LOC = M20  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L6P_T0_15
NET  PHY_RESET                 LOC = L20  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L6N_T0_VREF_15
NET  FMC_HPC_PG_M2C_LS         LOC = J29  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L7P_T1_AD10P_15
NET  FMC_C2M_PG_LS             LOC = H29  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L7N_T1_AD10N_15
NET  FMC_VADJ_ON_B_LS          LOC = J27  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L8P_T1_AD3P_15
NET  PHY_TXD7                  LOC = J28  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L8N_T1_AD3N_15
NET  PHY_TXD6                  LOC = L30  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L9P_T1_DQS_AD11P_15
NET  PHY_TXC_GTXCLK            LOC = K30  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L9N_T1_DQS_AD11N_15
NET  PHY_TXD5                  LOC = K26  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L10P_T1_AD4P_15
NET  PHY_TXD4                  LOC = J26  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L10N_T1_AD4N_15
NET  SM_FAN_PWM                LOC = L26  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L11P_T1_SRCC_AD12P_15
NET  USB_CTS                   LOC = L27  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L11N_T1_SRCC_AD12N_15
NET  USER_SMA_CLOCK_P          LOC = L25  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L12P_T1_MRCC_AD5P_15
NET  USER_SMA_CLOCK_N          LOC = K25  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L12N_T1_MRCC_AD5N_15
NET  USER_CLOCK_P              LOC = K28  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L13P_T2_MRCC_15
NET  USER_CLOCK_N              LOC = K29  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L13N_T2_MRCC_15
NET  PHY_TXCLK                 LOC = M28  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L14P_T2_SRCC_15
NET  PHY_TXD3                  LOC = L28  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L14N_T2_SRCC_15
NET  PHY_TXD2                  LOC = M29  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L15P_T2_DQS_15
NET  FLASH_ADV_B               LOC = M30  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L15N_T2_DQS_ADV_B_15
NET  PHY_TXD0                  LOC = N27  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L16P_T2_A28_15
NET  PHY_TXCTL_TXEN            LOC = M27  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L16N_T2_A27_15
NET  PHY_TXER                  LOC = N29  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L17P_T2_A26_15
NET  PHY_INT                   LOC = N30  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L17N_T2_A25_15
NET  PHY_TXD1                  LOC = N25  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L18P_T2_A24_15
NET  FLASH_A23                 LOC = N26  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L18N_T2_A23_15
NET  FLASH_A22                 LOC = N19  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L19P_T3_A22_15
NET  FLASH_A21                 LOC = N20  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L19N_T3_A21_VREF_15
NET  FLASH_A20                 LOC = N21  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L20P_T3_A20_15
NET  FLASH_A19                 LOC = N22  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L20N_T3_A19_15
NET  IIC_MUX_RESET_B           LOC = P23  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L21P_T3_DQS_15
NET  FLASH_A18                 LOC = N24  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L21N_T3_DQS_A18_15
NET  FLASH_A17                 LOC = P21  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L22P_T3_A17_15
NET  FLASH_A16                 LOC = P22  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L22N_T3_A16_15
NET  FLASH_OE_B                LOC = M24  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L23P_T3_FOE_B_15
NET  FLASH_FWE_B               LOC = M25  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L23N_T3_FWE_B_15
NET  FLASH_A25                 LOC = M22  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L24P_T3_RS1_15
NET  FLASH_A24                 LOC = M23  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L24N_T3_RS0_15
NET  SFP_LOS_LS                LOC = P19  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_25_15
NET  PCIE_WAKE_B_LS            LOC = F23  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_0_16
NET  HDMI_R_D0                 LOC = B23  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L1P_T0_16
NET  HDMI_R_D1                 LOC = A23  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L1N_T0_16
NET  HDMI_R_D2                 LOC = E23  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L2P_T0_16
NET  HDMI_R_D3                 LOC = D23  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L2N_T0_16
NET  HDMI_R_D4                 LOC = F25  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L3P_T0_DQS_16
NET  HDMI_R_D5                 LOC = E25  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L3N_T0_DQS_16
NET  HDMI_R_D6                 LOC = E24  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L4P_T0_16
NET  HDMI_R_D7                 LOC = D24  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L4N_T0_16
NET  HDMI_R_D8                 LOC = F26  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L5P_T0_16
NET  HDMI_R_D9                 LOC = E26  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L5N_T0_16
NET  HDMI_R_D10                LOC = G23  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L6P_T0_16
NET  HDMI_R_D11                LOC = G24  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L6N_T0_VREF_16
NET  FMC_HPC_LA16_P            LOC = B27  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L7P_T1_16
NET  FMC_HPC_LA16_N            LOC = A27  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L7N_T1_16
NET  FMC_HPC_LA15_P            LOC = C24  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L8P_T1_16
NET  FMC_HPC_LA15_N            LOC = B24  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L8N_T1_16
NET  FMC_HPC_LA14_P            LOC = B28  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L9P_T1_DQS_16
NET  FMC_HPC_LA14_N            LOC = A28  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L9N_T1_DQS_16
NET  FMC_HPC_LA13_P            LOC = A25  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L10P_T1_16
NET  FMC_HPC_LA13_N            LOC = A26  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L10N_T1_16
NET  FMC_HPC_LA01_CC_P         LOC = D26  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L11P_T1_SRCC_16
NET  FMC_HPC_LA01_CC_N         LOC = C26  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L11N_T1_SRCC_16
NET  FMC_HPC_LA00_CC_P         LOC = C25  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L12P_T1_MRCC_16
NET  FMC_HPC_LA00_CC_N         LOC = B25  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L12N_T1_MRCC_16
NET  FMC_HPC_CLK0_M2C_P        LOC = D27  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L13P_T2_MRCC_16
NET  FMC_HPC_CLK0_M2C_N        LOC = C27  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L13N_T2_MRCC_16
NET  FMC_HPC_LA07_P            LOC = E28  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L14P_T2_SRCC_16
NET  FMC_HPC_LA07_N            LOC = D28  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L14N_T2_SRCC_16
NET  FMC_HPC_LA12_P            LOC = C29  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L15P_T2_DQS_16
NET  FMC_HPC_LA12_N            LOC = B29  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L15N_T2_DQS_16
NET  FMC_HPC_LA10_P            LOC = D29  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L16P_T2_16
NET  FMC_HPC_LA10_N            LOC = C30  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L16N_T2_16
NET  FMC_HPC_LA09_P            LOC = B30  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L17P_T2_16
NET  FMC_HPC_LA09_N            LOC = A30  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L17N_T2_16
NET  FMC_HPC_LA08_P            LOC = E29  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L18P_T2_16
NET  FMC_HPC_LA08_N            LOC = E30  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L18N_T2_16
NET  FMC_HPC_LA02_P            LOC = H24  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L19P_T3_16
NET  FMC_HPC_LA02_N            LOC = H25  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L19N_T3_VREF_16
NET  FMC_HPC_LA04_P            LOC = G28  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L20P_T3_16
NET  FMC_HPC_LA04_N            LOC = F28  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L20N_T3_16
NET  FMC_HPC_LA11_P            LOC = G27  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L21P_T3_DQS_16
NET  FMC_HPC_LA11_N            LOC = F27  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L21N_T3_DQS_16
NET  FMC_HPC_LA05_P            LOC = G29  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L22P_T3_16
NET  FMC_HPC_LA05_N            LOC = F30  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L22N_T3_16
NET  FMC_HPC_LA03_P            LOC = H26  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L23P_T3_16
NET  FMC_HPC_LA03_N            LOC = H27  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L23N_T3_16
NET  FMC_HPC_LA06_P            LOC = H30  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L24P_T3_16
NET  FMC_HPC_LA06_N            LOC = G30  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L24N_T3_16
NET  PCIE_PERST_LS             LOC = G25  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_25_16
NET  GPIO_LED_5_LS             LOC = G19  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_0_17
NET  HDMI_R_CLK                LOC = K18  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L1P_T0_17
NET  HDMI_R_HSYNC              LOC = J18  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L1N_T0_17
NET  HDMI_R_VSYNC              LOC = H20  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L2P_T0_17
NET  HDMI_SPDIF_OUT_LS         LOC = G20  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L2N_T0_17
NET  HDMI_R_SPDIF              LOC = J17  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L3P_T0_DQS_17
NET  HDMI_R_DE                 LOC = H17  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L3N_T0_DQS_17
NET  HDMI_R_D12                LOC = J19  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L4P_T0_17
NET  HDMI_R_D13                LOC = H19  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L4N_T0_17
NET  HDMI_R_D14                LOC = L17  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L5P_T0_17
NET  HDMI_R_D15                LOC = L18  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L5N_T0_17
NET  HDMI_R_D16                LOC = K19  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L6P_T0_17
NET  HDMI_R_D17                LOC = K20  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L6N_T0_VREF_17
NET  FMC_HPC_LA33_P            LOC = H21  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L7P_T1_17
NET  FMC_HPC_LA33_N            LOC = H22  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L7N_T1_17
NET  FMC_HPC_LA32_P            LOC = D21  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L8P_T1_17
NET  FMC_HPC_LA32_N            LOC = C21  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L8N_T1_17
NET  FMC_HPC_LA31_P            LOC = G22  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L9P_T1_DQS_17
NET  FMC_HPC_LA31_N            LOC = F22  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L9N_T1_DQS_17
NET  FMC_HPC_LA30_P            LOC = D22  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L10P_T1_17
NET  FMC_HPC_LA30_N            LOC = C22  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L10N_T1_17
NET  FMC_HPC_LA18_CC_P         LOC = F21  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L11P_T1_SRCC_17
NET  FMC_HPC_LA18_CC_N         LOC = E21  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L11N_T1_SRCC_17
NET  FMC_HPC_LA17_CC_P         LOC = F20  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L12P_T1_MRCC_17
NET  FMC_HPC_LA17_CC_N         LOC = E20  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L12N_T1_MRCC_17
NET  FMC_HPC_CLK1_M2C_P        LOC = D17  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L13P_T2_MRCC_17
NET  FMC_HPC_CLK1_M2C_N        LOC = D18  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L13N_T2_MRCC_17
NET  FMC_HPC_LA20_P            LOC = E19  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L14P_T2_SRCC_17
NET  FMC_HPC_LA20_N            LOC = D19  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L14N_T2_SRCC_17
NET  FMC_HPC_LA28_P            LOC = D16  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L15P_T2_DQS_17
NET  FMC_HPC_LA28_N            LOC = C16  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L15N_T2_DQS_17
NET  FMC_HPC_LA19_P            LOC = G18  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L16P_T2_17
NET  FMC_HPC_LA19_N            LOC = F18  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L16N_T2_17
NET  FMC_HPC_LA29_P            LOC = C17  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L17P_T2_17
NET  FMC_HPC_LA29_N            LOC = B17  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L17N_T2_17
NET  FMC_HPC_LA25_P            LOC = G17  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L18P_T2_17
NET  FMC_HPC_LA25_N            LOC = F17  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L18N_T2_17
NET  FMC_HPC_LA22_P            LOC = C20  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L19P_T3_17
NET  FMC_HPC_LA22_N            LOC = B20  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L19N_T3_VREF_17
NET  FMC_HPC_LA24_P            LOC = A16  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L20P_T3_17
NET  FMC_HPC_LA24_N            LOC = A17  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L20N_T3_17
NET  FMC_HPC_LA21_P            LOC = A20  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L21P_T3_DQS_17
NET  FMC_HPC_LA21_N            LOC = A21  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L21N_T3_DQS_17
NET  FMC_HPC_LA26_P            LOC = B18  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L22P_T3_17
NET  FMC_HPC_LA26_N            LOC = A18  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L22N_T3_17
NET  FMC_HPC_LA23_P            LOC = B22  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L23P_T3_17
NET  FMC_HPC_LA23_N            LOC = A22  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L23N_T3_17
NET  FMC_HPC_LA27_P            LOC = C19  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L24P_T3_17
NET  FMC_HPC_LA27_N            LOC = B19  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L24N_T3_17
NET  GPIO_LED_6_LS             LOC = E18  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_25_17
NET  GPIO_SW_C                 LOC = G12  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_0_18
NET  FMC_HPC_HA13_P            LOC = L16  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L1P_T0_18
NET  FMC_HPC_HA13_N            LOC = K16  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L1N_T0_18
NET  FMC_HPC_HA16_P            LOC = L15  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L2P_T0_18
NET  FMC_HPC_HA16_N            LOC = K15  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L2N_T0_18
NET  FMC_HPC_HA23_P            LOC = L12  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L3P_T0_DQS_18
NET  FMC_HPC_HA23_N            LOC = L13  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L3N_T0_DQS_18
NET  FMC_HPC_HA20_P            LOC = K13  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L4P_T0_18
NET  FMC_HPC_HA20_N            LOC = J13  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L4N_T0_18
NET  FMC_HPC_HA18_P            LOC = K14  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L5P_T0_18
NET  FMC_HPC_HA18_N            LOC = J14  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L5N_T0_18
NET  FMC_HPC_HA22_P            LOC = L11  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L6P_T0_18
NET  FMC_HPC_HA22_N            LOC = K11  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L6N_T0_VREF_18
NET  FMC_HPC_HA15_P            LOC = H15  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L7P_T1_18
NET  FMC_HPC_HA15_N            LOC = G15  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L7N_T1_18
NET  FMC_HPC_HA21_P            LOC = J11  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L8P_T1_18
NET  FMC_HPC_HA21_N            LOC = J12  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L8N_T1_18
NET  FMC_HPC_HA14_P            LOC = J16  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L9P_T1_DQS_18
NET  FMC_HPC_HA14_N            LOC = H16  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L9N_T1_DQS_18
NET  FMC_HPC_HA19_P            LOC = H11  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L10P_T1_18
NET  FMC_HPC_HA19_N            LOC = H12  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L10N_T1_18
NET  FMC_HPC_HA01_CC_P         LOC = H14  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L11P_T1_SRCC_18
NET  FMC_HPC_HA01_CC_N         LOC = G14  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L11N_T1_SRCC_18
NET  FMC_HPC_HA17_CC_P         LOC = G13  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L12P_T1_MRCC_18
NET  FMC_HPC_HA17_CC_N         LOC = F13  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L12N_T1_MRCC_18
NET  FMC_HPC_HA00_CC_P         LOC = D12  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L13P_T2_MRCC_18
NET  FMC_HPC_HA00_CC_N         LOC = D13  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L13N_T2_MRCC_18
NET  FMC_HPC_HA09_P            LOC = F12  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L14P_T2_SRCC_18
NET  FMC_HPC_HA09_N            LOC = E13  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L14N_T2_SRCC_18
NET  FMC_HPC_HA03_P            LOC = C12  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L15P_T2_DQS_18
NET  FMC_HPC_HA03_N            LOC = B12  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L15N_T2_DQS_18
NET  FMC_HPC_HA04_P            LOC = F11  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L16P_T2_18
NET  FMC_HPC_HA04_N            LOC = E11  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L16N_T2_18
NET  FMC_HPC_HA10_P            LOC = A11  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L17P_T2_18
NET  FMC_HPC_HA10_N            LOC = A12  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L17N_T2_18
NET  FMC_HPC_HA02_P            LOC = D11  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L18P_T2_18
NET  FMC_HPC_HA02_N            LOC = C11  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L18N_T2_18
NET  FMC_HPC_HA05_P            LOC = F15  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L19P_T3_18
NET  FMC_HPC_HA05_N            LOC = E16  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L19N_T3_VREF_18
NET  FMC_HPC_HA08_P            LOC = E14  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L20P_T3_18
NET  FMC_HPC_HA08_N            LOC = E15  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L20N_T3_18
NET  FMC_HPC_HA06_P            LOC = D14  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L21P_T3_DQS_18
NET  FMC_HPC_HA06_N            LOC = C14  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L21N_T3_DQS_18
NET  FMC_HPC_HA11_P            LOC = B13  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L22P_T3_18
NET  FMC_HPC_HA11_N            LOC = A13  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L22N_T3_18
NET  FMC_HPC_HA12_P            LOC = C15  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L23P_T3_18
NET  FMC_HPC_HA12_N            LOC = B15  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L23N_T3_18
NET  FMC_HPC_HA07_P            LOC = B14  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L24P_T3_18
NET  FMC_HPC_HA07_N            LOC = A15  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L24N_T3_18
NET  GPIO_LED_7_LS             LOC = F16  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_25_18
NET  PMBUS_DATA_LS             LOC = Y14  | IOSTANDARD=LVCMOS15; # Bank  32 VCCO - VCC1V5_FPGA - IO_0_VRN_32
NET  DDR3_D24                  LOC = AK16 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L1P_T0_32
NET  DDR3_D31                  LOC = AK15 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L1N_T0_32
NET  DDR3_D26                  LOC = AG15 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L2P_T0_32
NET  DDR3_D30                  LOC = AH15 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L2N_T0_32
NET  DDR3_DQS3_P               LOC = AH16 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L3P_T0_DQS_32
NET  DDR3_DQS3_N               LOC = AJ16 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L3N_T0_DQS_32
NET  DDR3_D27                  LOC = AF15 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L4P_T0_32
NET  DDR3_D29                  LOC = AG14 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L4N_T0_32
NET  DDR3_D28                  LOC = AH17 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L5P_T0_32
NET  DDR3_D25                  LOC = AJ17 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L5N_T0_32
NET  DDR3_DM3                  LOC = AE16 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L6P_T0_32
#NET  VTTVREF                   LOC = AF16 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L6N_T0_VREF_32
NET  DDR3_D21                  LOC = AJ19 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L7P_T1_32
NET  DDR3_D17                  LOC = AK19 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L7N_T1_32
NET  DDR3_D16                  LOC = AG19 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L8P_T1_32
NET  DDR3_D20                  LOC = AH19 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L8N_T1_32
NET  DDR3_DQS2_P               LOC = AJ18 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L9P_T1_DQS_32
NET  DDR3_DQS2_N               LOC = AK18 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L9N_T1_DQS_32
NET  DDR3_D23                  LOC = AD19 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L10P_T1_32
NET  DDR3_D22                  LOC = AE19 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L10N_T1_32
NET  DDR3_D19                  LOC = AF18 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L11P_T1_SRCC_32
NET  DDR3_D18                  LOC = AG18 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L11N_T1_SRCC_32
NET  DDR3_DM2                  LOC = AF17 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L12P_T1_MRCC_32
NET  PMBUS_CLK_LS              LOC = AG17 | IOSTANDARD=LVCMOS15; # Bank  32 VCCO - VCC1V5_FPGA - IO_L12N_T1_MRCC_32
NET  DDR3_D15                  LOC = AD18 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L13P_T2_MRCC_32
NET  DDR3_D14                  LOC = AE18 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L13N_T2_MRCC_32
NET  DDR3_D11                  LOC = AD17 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L14P_T2_SRCC_32
NET  DDR3_D9                   LOC = AD16 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L14N_T2_SRCC_32
NET  DDR3_DQS1_P               LOC = Y19  | IOSTANDARD=DIFF_SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L15P_T2_DQS_32
NET  DDR3_DQS1_N               LOC = Y18  | IOSTANDARD=DIFF_SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L15N_T2_DQS_32
NET  DDR3_D12                  LOC = AA18 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L16P_T2_32
NET  DDR3_D13                  LOC = AB18 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L16N_T2_32
NET  DDR3_D8                   LOC = AB19 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L17P_T2_32
NET  DDR3_D10                  LOC = AC19 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L17N_T2_32
NET  DDR3_DM1                  LOC = AB17 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L18P_T2_32
#NET  7N700                     LOC = AC17 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L18N_T2_32
NET  DDR3_D6                   LOC = AE15 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L19P_T3_32
#NET  VTTVREF                   LOC = AE14 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L19N_T3_VREF_32
NET  DDR3_D0                   LOC = AA15 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L20P_T3_32
NET  DDR3_D5                   LOC = AB15 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L20N_T3_32
NET  DDR3_DQS0_P               LOC = AC16 | IOSTANDARD=DIFF_SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L21P_T3_DQS_32
NET  DDR3_DQS0_N               LOC = AC15 | IOSTANDARD=DIFF_SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L21N_T3_DQS_32
NET  DDR3_D2                   LOC = AC14 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L22P_T3_32
NET  DDR3_D3                   LOC = AD14 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L22N_T3_32
NET  DDR3_D4                   LOC = AA17 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L23P_T3_32
NET  DDR3_D1                   LOC = AA16 | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L23N_T3_32
NET  DDR3_DM0                  LOC = Y16  | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L24P_T3_32
NET  DDR3_D7                   LOC = Y15  | IOSTANDARD=SSTL15;   # Bank  32 VCCO - VCC1V5_FPGA - IO_L24N_T3_32
NET  PMBUS_ALERT_LS            LOC = AB14 | IOSTANDARD=LVCMOS15; # Bank  32 VCCO - VCC1V5_FPGA - IO_25_VRP_32
#NET  VRN_33                    LOC = Y13  | IOSTANDARD=        ; # Bank  33 VCCO - VCC1V5_FPGA - IO_0_VRN_33
NET  GPIO_SW_N                 LOC = AA12 | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L1P_T0_33
NET  GPIO_SW_S                 LOC = AB12 | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L1N_T0_33
NET  GPIO_LED_1_LS             LOC = AA8  | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L2P_T0_33
NET  GPIO_LED_0_LS             LOC = AB8  | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L2N_T0_33
NET  GPIO_LED_3_LS             LOC = AB9  | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L3P_T0_DQS_33
NET  GPIO_LED_2_LS             LOC = AC9  | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L3N_T0_DQS_33
NET  LCD_RS_LS                 LOC = Y11  | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L4P_T0_33
NET  LCD_DB7_LS                LOC = Y10  | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L4N_T0_33
NET  LCD_DB6_LS                LOC = AA11 | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L5P_T0_33
NET  LCD_DB5_LS                LOC = AA10 | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L5N_T0_33
NET  LCD_DB4_LS                LOC = AA13 | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L6P_T0_33
NET  LCD_RW_LS                 LOC = AB13 | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L6N_T0_VREF_33
NET  LCD_E_LS                  LOC = AB10 | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L7P_T1_33
NET  DDR3_ODT1                 LOC = AC10 | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L7N_T1_33
NET  DDR3_ODT0                 LOC = AD8  | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L8P_T1_33
NET  DDR3_S1_B                 LOC = AE8  | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L8N_T1_33
NET  DDR3_S0_B                 LOC = AC12 | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L9P_T1_DQS_33
NET  DDR3_CAS_B                LOC = AC11 | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L9N_T1_DQS_33
NET  DDR3_RAS_B                LOC = AD9  | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L10P_T1_33
NET  DDR3_WE_B                 LOC = AE9  | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L10N_T1_33
NET  DDR3_CLK1_P               LOC = AE11 | IOSTANDARD=DIFF_SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L11P_T1_SRCC_33
NET  DDR3_CLK1_N               LOC = AF11 | IOSTANDARD=DIFF_SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L11N_T1_SRCC_33
NET  SYSCLK_P                  LOC = AD12 | IOSTANDARD=LVDS;     # Bank  33 VCCO - VCC1V5_FPGA - IO_L12P_T1_MRCC_33
NET  SYSCLK_N                  LOC = AD11 | IOSTANDARD=LVDS;     # Bank  33 VCCO - VCC1V5_FPGA - IO_L12N_T1_MRCC_33
NET  DDR3_CLK0_P               LOC = AG10 | IOSTANDARD=DIFF_SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L13P_T2_MRCC_33
NET  DDR3_CLK0_N               LOC = AH10 | IOSTANDARD=DIFF_SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L13N_T2_MRCC_33
NET  DDR3_CKE1                 LOC = AE10 | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L14P_T2_SRCC_33
NET  DDR3_CKE0                 LOC = AF10 | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L14N_T2_SRCC_33
NET  DDR3_TEMP_EVENT           LOC = AJ9  | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_FPGA - IO_L15P_T2_DQS_33
NET  DDR3_BA2                  LOC = AK9  | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L15N_T2_DQS_33
NET  DDR3_BA1                  LOC = AG9  | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L16P_T2_33
NET  DDR3_BA0                  LOC = AH9  | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L16N_T2_33
NET  DDR3_A15                  LOC = AK11 | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L17P_T2_33
NET  DDR3_A14                  LOC = AK10 | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L17N_T2_33
NET  DDR3_A13                  LOC = AH11 | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L18P_T2_33
NET  DDR3_A12                  LOC = AJ11 | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L18N_T2_33
NET  DDR3_A11                  LOC = AE13 | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L19P_T3_33
NET  DDR3_A10                  LOC = AF13 | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L19N_T3_VREF_33
NET  DDR3_A9                   LOC = AK14 | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L20P_T3_33
NET  DDR3_A8                   LOC = AK13 | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L20N_T3_33
NET  DDR3_A7                   LOC = AH14 | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L21P_T3_DQS_33
NET  DDR3_A6                   LOC = AJ14 | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L21N_T3_DQS_33
NET  DDR3_A5                   LOC = AJ13 | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L22P_T3_33
NET  DDR3_A4                   LOC = AJ12 | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L22N_T3_33
NET  DDR3_A3                   LOC = AF12 | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L23P_T3_33
NET  DDR3_A2                   LOC = AG12 | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L23N_T3_33
NET  DDR3_A1                   LOC = AG13 | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L24P_T3_33
NET  DDR3_A0                   LOC = AH12 | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_L24N_T3_33
#NET  VRP_33                    LOC = AD13 | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_FPGA - IO_25_VRP_33
NET  GPIO_SW_W                 LOC = AC6  | IOSTANDARD=LVCMOS15; # Bank  34 VCCO - VCC1V5_FPGA - IO_0_VRN_34
NET  DDR3_D63                  LOC = AD4  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L1P_T0_34
NET  DDR3_D57                  LOC = AD3  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L1N_T0_34
NET  DDR3_D62                  LOC = AC2  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L2P_T0_34
NET  DDR3_D56                  LOC = AC1  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L2N_T0_34
NET  DDR3_DQS7_P               LOC = AD2  | IOSTANDARD=DIFF_SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L3P_T0_DQS_34
NET  DDR3_DQS7_N               LOC = AD1  | IOSTANDARD=DIFF_SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L3N_T0_DQS_34
NET  DDR3_D59                  LOC = AC5  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L4P_T0_34
NET  DDR3_D58                  LOC = AC4  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L4N_T0_34
NET  DDR3_D61                  LOC = AD6  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L5P_T0_34
NET  DDR3_D60                  LOC = AE6  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L5N_T0_34
NET  DDR3_DM7                  LOC = AC7  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L6P_T0_34
#NET  VTTVREF                   LOC = AD7  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L6N_T0_VREF_34
NET  DDR3_D52                  LOC = AF3  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L7P_T1_34
NET  DDR3_D49                  LOC = AF2  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L7N_T1_34
NET  DDR3_D54                  LOC = AE1  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L8P_T1_34
NET  DDR3_D48                  LOC = AF1  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L8N_T1_34
NET  DDR3_DQS6_P               LOC = AG4  | IOSTANDARD=DIFF_SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L9P_T1_DQS_34
NET  DDR3_DQS6_N               LOC = AG3  | IOSTANDARD=DIFF_SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L9N_T1_DQS_34
NET  DDR3_D50                  LOC = AE4  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L10P_T1_34
NET  DDR3_D51                  LOC = AE3  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L10N_T1_34
NET  DDR3_D55                  LOC = AE5  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L11P_T1_SRCC_34
NET  DDR3_D53                  LOC = AF5  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L11N_T1_SRCC_34
NET  DDR3_DM6                  LOC = AF6  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L12P_T1_MRCC_34
NET  GPIO_SW_E                 LOC = AG5  | IOSTANDARD=LVCMOS15; # Bank  34 VCCO - VCC1V5_FPGA - IO_L12N_T1_MRCC_34
NET  DDR3_D44                  LOC = AH4  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L13P_T2_MRCC_34
NET  DDR3_D45                  LOC = AJ4  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L13N_T2_MRCC_34
NET  DDR3_D41                  LOC = AH6  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L14P_T2_SRCC_34
NET  DDR3_D40                  LOC = AH5  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L14N_T2_SRCC_34
NET  DDR3_DQS5_P               LOC = AG2  | IOSTANDARD=DIFF_SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L15P_T2_DQS_34
NET  DDR3_DQS5_N               LOC = AH1  | IOSTANDARD=DIFF_SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L15N_T2_DQS_34
NET  DDR3_D43                  LOC = AH2  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L16P_T2_34
NET  DDR3_D42                  LOC = AJ2  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L16N_T2_34
NET  DDR3_D47                  LOC = AJ1  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L17P_T2_34
NET  DDR3_D46                  LOC = AK1  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L17N_T2_34
NET  DDR3_DM5                  LOC = AJ3  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L18P_T2_34
NET  DDR3_RESET_B              LOC = AK3  | IOSTANDARD=LVCMOS15; # Bank  34 VCCO - VCC1V5_FPGA - IO_L18N_T2_34
NET  DDR3_D36                  LOC = AF8  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L19P_T3_34
#NET  VTTVREF                   LOC = AG8  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L19N_T3_VREF_34
NET  DDR3_D35                  LOC = AF7  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L20P_T3_34
NET  DDR3_D34                  LOC = AG7  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L20N_T3_34
NET  DDR3_DQS4_P               LOC = AH7  | IOSTANDARD=DIFF_SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L21P_T3_DQS_34
NET  DDR3_DQS4_N               LOC = AJ7  | IOSTANDARD=DIFF_SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L21N_T3_DQS_34
NET  DDR3_D39                  LOC = AJ6  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L22P_T3_34
NET  DDR3_D33                  LOC = AK6  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L22N_T3_34
NET  DDR3_D38                  LOC = AJ8  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L23P_T3_34
NET  DDR3_D32                  LOC = AK8  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L23N_T3_34
NET  DDR3_DM4                  LOC = AK5  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L24P_T3_34
NET  DDR3_D37                  LOC = AK4  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_FPGA - IO_L24N_T3_34
NET  CPU_RESET                 LOC = AB7  | IOSTANDARD=LVCMOS15; # Bank  34 VCCO - VCC1V5_FPGA - IO_25_VRP_34
NET  PCIE_TX4_P                LOC = T2                        ; # Bank 115                 - MGTXTXP3_115
NET  PCIE_RX4_P                LOC = V6                        ; # Bank 115                 - MGTXRXP3_115
NET  PCIE_TX4_N                LOC = T1                        ; # Bank 115                 - MGTXTXN3_115
NET  PCIE_RX4_N                LOC = V5                        ; # Bank 115                 - MGTXRXN3_115
NET  PCIE_TX5_P                LOC = U4                        ; # Bank 115                 - MGTXTXP2_115
NET  PCIE_RX5_P                LOC = W4                        ; # Bank 115                 - MGTXRXP2_115
NET  PCIE_TX5_N                LOC = U3                        ; # Bank 115                 - MGTXTXN2_115
NET  9N302                     LOC = R8                        ; # Bank 115                 - MGTREFCLK0P_115
NET  PCIE_RX5_N                LOC = W3                        ; # Bank 115                 - MGTXRXN2_115
NET  9N301                     LOC = R7                        ; # Bank 115                 - MGTREFCLK0N_115
NET  9N173                     LOC = W8                        ; # Bank 115                 - MGTRREF_115
NET  PCIE_CLK_QO_N             LOC = U7                        ; # Bank 115                 - MGTREFCLK1N_115
NET  PCIE_CLK_QO_P             LOC = U8                        ; # Bank 115                 - MGTREFCLK1P_115
NET  PCIE_TX6_P                LOC = V2                        ; # Bank 115                 - MGTXTXP1_115
NET  PCIE_RX6_P                LOC = Y6                        ; # Bank 115                 - MGTXRXP1_115
NET  PCIE_TX6_N                LOC = V1                        ; # Bank 115                 - MGTXTXN1_115
NET  PCIE_RX6_N                LOC = Y5                        ; # Bank 115                 - MGTXRXN1_115
NET  PCIE_TX7_P                LOC = Y2                        ; # Bank 115                 - MGTXTXP0_115
NET  PCIE_RX7_P                LOC = AA4                       ; # Bank 115                 - MGTXRXP0_115
NET  PCIE_TX7_N                LOC = Y1                        ; # Bank 115                 - MGTXTXN0_115
NET  PCIE_RX7_N                LOC = AA3                       ; # Bank 115                 - MGTXRXN0_115
NET  PCIE_TX0_P                LOC = L4                        ; # Bank 116                 - MGTXTXP3_116
NET  PCIE_RX0_P                LOC = M6                        ; # Bank 116                 - MGTXRXP3_116
NET  PCIE_TX0_N                LOC = L3                        ; # Bank 116                 - MGTXTXN3_116
NET  PCIE_RX0_N                LOC = M5                        ; # Bank 116                 - MGTXRXN3_116
NET  PCIE_TX1_P                LOC = M2                        ; # Bank 116                 - MGTXTXP2_116
NET  PCIE_RX1_P                LOC = P6                        ; # Bank 116                 - MGTXRXP2_116
NET  PCIE_TX1_N                LOC = M1                        ; # Bank 116                 - MGTXTXN2_116
NET  SI5326_OUT_C_P            LOC = L8                        ; # Bank 116                 - MGTREFCLK0P_116
NET  PCIE_RX1_N                LOC = P5                        ; # Bank 116                 - MGTXRXN2_116
NET  SI5326_OUT_C_N            LOC = L7                        ; # Bank 116                 - MGTREFCLK0N_116
NET  FMC_LPC_GBTCLK0_M2C_C_N   LOC = N7                        ; # Bank 116                 - MGTREFCLK1N_116
NET  FMC_LPC_GBTCLK0_M2C_C_P   LOC = N8                        ; # Bank 116                 - MGTREFCLK1P_116
NET  PCIE_TX2_P                LOC = N4                        ; # Bank 116                 - MGTXTXP1_116
NET  PCIE_RX2_P                LOC = R4                        ; # Bank 116                 - MGTXRXP1_116
NET  PCIE_TX2_N                LOC = N3                        ; # Bank 116                 - MGTXTXN1_116
NET  PCIE_RX2_N                LOC = R3                        ; # Bank 116                 - MGTXRXN1_116
NET  PCIE_TX3_P                LOC = P2                        ; # Bank 116                 - MGTXTXP0_116
NET  PCIE_RX3_P                LOC = T6                        ; # Bank 116                 - MGTXRXP0_116
NET  PCIE_TX3_N                LOC = P1                        ; # Bank 116                 - MGTXTXN0_116
NET  PCIE_RX3_N                LOC = T5                        ; # Bank 116                 - MGTXRXN0_116
NET  FMC_LPC_DP0_C2M_P         LOC = F2                        ; # Bank 117                 - MGTXTXP3_117
NET  FMC_LPC_DP0_M2C_P         LOC = F6                        ; # Bank 117                 - MGTXRXP3_117
NET  FMC_LPC_DP0_C2M_N         LOC = F1                        ; # Bank 117                 - MGTXTXN3_117
NET  FMC_LPC_DP0_M2C_N         LOC = F5                        ; # Bank 117                 - MGTXRXN3_117
NET  SFP_TX_P                  LOC = H2                        ; # Bank 117                 - MGTXTXP2_117
NET  SFP_RX_N                  LOC = G4                        ; # Bank 117                 - MGTXRXP2_117
NET  SFP_TX_N                  LOC = H1                        ; # Bank 117                 - MGTXTXN2_117
NET  SGMIICLK_Q0_P             LOC = G8                        ; # Bank 117                 - MGTREFCLK0P_117
NET  SFP_RX_P                  LOC = G3                        ; # Bank 117                 - MGTXRXN2_117
NET  SGMIICLK_Q0_N             LOC = G7                        ; # Bank 117                 - MGTREFCLK0N_117
NET  SMA_MGT_REFCLK_N          LOC = J7                        ; # Bank 117                 - MGTREFCLK1N_117
NET  SMA_MGT_REFCLK_P          LOC = J8                        ; # Bank 117                 - MGTREFCLK1P_117
NET  SGMII_TX_P                LOC = J4                        ; # Bank 117                 - MGTXTXP1_117
NET  SGMII_RX_P                LOC = H6                        ; # Bank 117                 - MGTXRXP1_117
NET  SGMII_TX_N                LOC = J3                        ; # Bank 117                 - MGTXTXN1_117
NET  SGMII_RX_N                LOC = H5                        ; # Bank 117                 - MGTXRXN1_117
NET  SMA_MGT_TX_P              LOC = K2                        ; # Bank 117                 - MGTXTXP0_117
NET  SMA_MGT_RX_P              LOC = K6                        ; # Bank 117                 - MGTXRXP0_117
NET  SMA_MGT_TX_N              LOC = K1                        ; # Bank 117                 - MGTXTXN0_117
NET  SMA_MGT_RX_N              LOC = K5                        ; # Bank 117                 - MGTXRXN0_117
NET  FMC_HPC_DP3_C2M_P         LOC = A4                        ; # Bank 118                 - MGTXTXP3_118
NET  FMC_HPC_DP3_M2C_P         LOC = A8                        ; # Bank 118                 - MGTXRXP3_118
NET  FMC_HPC_DP3_C2M_N         LOC = A3                        ; # Bank 118                 - MGTXTXN3_118
NET  FMC_HPC_DP3_M2C_N         LOC = A7                        ; # Bank 118                 - MGTXRXN3_118
NET  FMC_HPC_DP2_C2M_P         LOC = B2                        ; # Bank 118                 - MGTXTXP2_118
NET  FMC_HPC_DP2_M2C_P         LOC = B6                        ; # Bank 118                 - MGTXRXP2_118
NET  FMC_HPC_DP2_C2M_N         LOC = B1                        ; # Bank 118                 - MGTXTXN2_118
NET  FMC_HPC_GBTCLK0_M2C_C_P   LOC = C8                        ; # Bank 118                 - MGTREFCLK0P_118
NET  FMC_HPC_DP2_M2C_N         LOC = B5                        ; # Bank 118                 - MGTXRXN2_118
NET  FMC_HPC_GBTCLK0_M2C_C_N   LOC = C7                        ; # Bank 118                 - MGTREFCLK0N_118
NET  FMC_HPC_GBTCLK1_M2C_C_N   LOC = E7                        ; # Bank 118                 - MGTREFCLK1N_118
NET  FMC_HPC_GBTCLK1_M2C_C_P   LOC = E8                        ; # Bank 118                 - MGTREFCLK1P_118
NET  FMC_HPC_DP1_C2M_P         LOC = C4                        ; # Bank 118                 - MGTXTXP1_118
NET  FMC_HPC_DP1_M2C_P         LOC = D6                        ; # Bank 118                 - MGTXRXP1_118
NET  FMC_HPC_DP1_C2M_N         LOC = C3                        ; # Bank 118                 - MGTXTXN1_118
NET  FMC_HPC_DP1_M2C_N         LOC = D5                        ; # Bank 118                 - MGTXRXN1_118
NET  FMC_HPC_DP0_C2M_P         LOC = D2                        ; # Bank 118                 - MGTXTXP0_118
NET  FMC_HPC_DP0_M2C_P         LOC = E4                        ; # Bank 118                 - MGTXRXP0_118
NET  FMC_HPC_DP0_C2M_N         LOC = D1                        ; # Bank 118                 - MGTXTXN0_118
NET  FMC_HPC_DP0_M2C_N         LOC = E3                        ; # Bank 118                 - MGTXRXN0_118
